[2015-10-02 21:20] nickfrey opened #390 "ComponentKit uses API unsafe in extensions"
ComponentKit uses `[UIApplication sharedApplication]` in three places.

https://github.com/facebook/componentkit/blob/cc3cfac0b420fc8a635825a9c39022a10e4af818/ComponentKit/Debug/CKComponentHierarchyDebugHelper.mm#L39
https://github.com/facebook/componentkit/blob/fbab23010ab15cba8ef934289a32d1a650e7e713/ComponentKit/Debug/CKComponentDebugController.mm#L141
https://github.com/facebook/componentkit/b

[2015-10-02 22:01] adamjernst commented on #390
Good find. Sure, let me take a look.

[2015-10-06 12:17] allurco opened #393 "Questions about CKNetworkImageDownloading implementation"
Hi,

I have a couple of questions about CKNetworkImageDownloading delegate, I have created my class and added the required methods. But I am not sure what to do with:
```-(id) downloadImageWithURL:(NSURL *)URL scenePath:(id)scenePath caller:(id)caller callbackQueue:(dispatch_queue_t)callbackQueue downloadProgressBlock:(void (^)(CGFloat))downloadProgressBlock completion:(void (^)(CGImageRef, NSErro

[2015-10-06 16:50] itsthejb opened #394 "NSInternalInconsistencyException: 'attempt to create view animation for nil view'"
Hi all,

Rather large issue over here that has come up after migrating to `CKCollectionViewTransactionalDataSource`. It's quite hard to post enough information, and I certainly can't be 100% confident it's an issue with CK itself, either. But raising as a plea for help since we will have to revert back to `CKCollectionViewDataSource` if we can't find a solution to this.

1. `CKCollectionViewTransa

[2015-10-06 16:52] itsthejb commented on #394
I suspect that the issue has something to do with the need to insert a new section along with the items themselves in the changeset, but hard to be sure.

[2015-10-07 13:12] leoschweizer opened #396 "CKLabelComponent flickers with frequent text changes"
I have label component instances that update their text every second (think: timers). I don't do anything extraordinary with them:
[code]

[2015-10-07 14:12] adamjernst commented on #393
You have to take care of downloading the image yourself (e.g. via `NSURLSession`). Scene path is an arbitrary object you can pass into the `CKNetworkImageComponent`; at Facebook we use it for request prioritization, you can feel free to ignore it and pass nil.

[2015-10-07 14:12] #393 closed

[2015-10-07 14:13] adamjernst commented on #394
Oof interesting.

[2015-10-07 16:15] itsthejb commented on #394
Yet Another Unhelpful UIKit Exception Description

[2015-10-07 16:21] ocrickard commented on #396
The reason this flickers is that we use asynchronous rendering in our label implementation.  This means that for large bodies of text as you scroll you don't stutter for the actual drawing of the glyphs.  UILabel renders synchronously on the main thread.

Internally for updates we create a parent view whose layer disables the async transaction for rapid model updates like this.

So, not a bug, fea

[2015-10-07 16:22] #396 closed

[2015-10-07 17:15] allurco commented on #393
Thanks!

[2015-10-07 19:05] leoschweizer commented on #396
Allright, I'll stick with the UILabel route for now then!

[2015-10-08 21:58] JoseBluenet opened #399 "Overlapping components in a CKStackLayoutDirectionVertical"
I'm trying to setup a simple case of multiple images stacked in a CKStackLayoutDirectionVertical.

I've been trying many possible combinations but still I'm not able to see one image after the other. In the current code one image is overlapping the next image.

I tried even adding an additional component with .flexGrow before and after the image but nothing.

Not sure what I'm missing. Can somebod

[2015-10-09 06:42] gudjao opened #400 "UIWebView in components"
Im trying to put a UIWebView in my components. UIWebView may be slow and takes up your memory. will be using iframe youtube player using webview class. Im planning on using Statefulviews but any tips on how to implement it on components?

[2015-10-09 14:06] allurco opened #401 "CKNetworkImageComponentOptions Documentation"
Hi,

Is there any documentation on CKNetworkImageComponentOptions? I could not find it.

[2015-10-09 14:10] adamjernst commented on #399
Good question. I'd breakpoint in `computeLayoutThatFits:` and report back the size ranges that are being passed to each component. I'd especially be interested in the size ranges the image components receive.

Could you do that and reopen?

[2015-10-09 14:10] adamjernst commented on #400
Stateful views sounds like the way to do it to me! You're certainly right about it being slow and memory usage being high.

[2015-10-09 14:10] #400 closed

[2015-10-09 14:11] adamjernst commented on #401
Each option within the struct has documentation:

https://github.com/facebook/componentkit/blob/42e7edb7fa1afb9ac951d97786c1d52f64b337b0/ComponentKit/Components/CKNetworkImageComponent.h#L14

[2015-10-09 14:11] #401 closed

[2015-10-09 14:20] allurco commented on #401
Thank you for point that out.

[2015-10-09 14:33] adamjernst commented on #141
We're deprecating `CKComponentLifecycleManager` so I believe this should no longer happen. If it does, reopen!

[2015-10-09 14:33] #141 closed

[2015-10-09 15:55] #394 closed

[2015-10-09 22:30] JoseBluenet commented on #399
Hi Adam,

If you look at the current picture from the Debug, the one that is giving the high for the cell is CKCollectionViewDataSourceCell. The other children (UIView and CKComponentRootView) are taking the same size as the parent.

The CKCollectionViewDataSourceCell is for some reason not resizing itself by the UIImageView child.

How can I make the CKCollectionViewDataSourceCell to resize prope

[2015-10-09 22:44] JoseBluenet opened #403 "CKCollectionViewDataSourceCell is not calculating the high of the children (CKImageComponent)"
I'm trying to setup a simple case of multiple images stacked in a CKStackLayoutDirectionVertical.

I've been trying many possible combinations but still I'm not able to see one image after the other. In the current code one image is overlapping the next image.

If you look at the current picture from the Debug, the one that is giving the high for the cell is CKCollectionViewDataSourceCell. The oth

[2015-10-09 22:46] JoseBluenet commented on #399
Hi Adam,
It seems that I cannot re-open the issue as it was closed by a repository contributor.
I have created issue 403 with additional information.
https://github.com/facebook/componentkit/issues/403

Thanks,
Jose

[2015-10-12 10:52] garnett opened #404 "Animation glitches on cell bounds change"
Video of the issue: https://www.dropbox.com/s/sanf1v1hjslsook/20151012_123541.mp4?dl=0
Two views misbehave here:
* gray horizontal hairline
* left orange outline

I use ```CKUpdateModeSynchronous``` update for animation, however if I use async version there is no glitch (and no animation :cry: )
relevant (but not full), configuration provided below: (c is complete white collapsing view component)

[2015-10-12 19:54] adamjernst commented on #389
You can use the "initial state creator" block for CKComponentScope to specify an initial state. Does that help?

[2015-10-12 19:54] #389 closed

[2015-10-13 13:48] leoschweizer opened #406 "CKStatefulViewComponentController leaks context object"
Consider a `CKStatefulViewComponentController` that returns a dummy object which is not retained by anyone else like the following:

[code]

From looking at an allocation instruments run, it seems that this context object is never deallocated again - what is going on here? I've also done

[code]

so in my understanding, as soon as the component deallocates (which it does), the context should also

[2015-10-13 15:51] garnett commented on #404
Adding [UIView class] to parent component solved the issue :smiley:

[2015-10-13 15:51] #404 closed

[2015-10-14 18:09] andiradulescu opened #407 "Question: Multiple CKComponentGestureAttribute"
I need to add 2 tap gesture recognizers to a CKComponent:
- one with numberOfTapsRequired = 1 (tap)
- one with numberOfTapsRequired = 2 (double tap)

I managed to do this with 2 CKComponentGestureAttribute and using the setupFunction to set the number of taps.

In order for the single tap to not be called twice when double tapping, I need to do this:
`[singleTap requireGestureRecognizerToFail:doub

[2015-10-15 15:41] adamjernst commented on #407
There's no easy way with `CKComponentGestureAttribute`. I might recommend using a `CKComponentController` instead—you can have it own the two gesture recognizers, then add them to the view in `componentDidAcquireView` and remove them in `componentWillRelinquishView`.

[2015-10-15 15:41] #407 closed

[2015-10-15 17:05] andiradulescu commented on #407
Thanks, Adam! I will try your solution tonight.

[2015-10-21 03:17] kastiglione opened #408 "Break potential cycle via CKComponentHostingView by clearing model and context"
`CKComponentHostingView` holds a strong reference to the model/context provided in calls to `update{Model,Context}:`, and this strong reference isn't released until the next call to `update{Model,Context}:`.

Should `_synchronouslyUpdateComponentIfNeeded` and `_scheduleAsynchronousUpdate` clear out the model and context after its done with them?

This came about when view `A` owned a `CKComponentH

[2015-10-21 09:44] wy19901227 opened #409 "hello about the user interfaces smooth and responsive"
when I use componentkit, can it make the user interfaces smooth and responsive like AsyncDisplayKit
?

[2015-10-21 16:25] ocrickard commented on #409
I worked a bit on both ASDK and ComponentKit.  I think we have done a pretty thorough comparison in public talks and in documentation, but briefly:

Yes and no.  ComponentKit by default will size and layout elements on background threads if you use the collection view and table view data sources.  This means the main thread is free for animations, scrolling, etc.  Some of the core components provi

[2015-10-21 16:25] #409 closed

[2015-10-22 09:55] wy19901227 commented on #409
did facebook peper use  AsyncDisplayKit
and facebook use componentKit?

[2015-10-22 14:27] adamjernst commented on #408
I don't think so, because if a state update resulted after then how would it get a reference to the model again?

I might be missing something though…

[2015-10-22 14:27] #408 closed

[2015-10-22 20:04] kastiglione commented on #408
I clearly didn't think that one through.

And I guess it can't be a weak reference right because in some cases code will hand off the model/context to the hosting view and expect it to own it?

[2015-10-22 20:05] adamjernst commented on #408
Yep!

[2015-10-23 05:55] ryuheechul commented on #307
@adamjernst can you tell me more about how to make a listener for the userInfo when you want to know when the asynchronous rendering is done?

[2015-10-24 15:20] tranngoclinh88 opened #412 "How to scroll when items size smaller than collection view bounds?"
I have a full screen collection view (320x480) and some items.
Total items size height is 300 (smaller than 480) and can not scroll.
Please tell me how to make it scrollable.
Thanks.

[2015-10-25 17:22] topa51 opened #415 "CKNetworkImageComponent rounded corners"
Is it possible to round corners of CKNetworkImageComponent.

This solution

https://github.com/facebook/componentkit/issues/101

seams not working for CKNetworkImageComponent

[2015-10-26 10:46] majak commented on #412
Did you set the `alwaysBounceVertical` property on your CV to `YES`?

[2015-10-26 13:32] adamjernst commented on #415
It's not a built-in functionality. You would want to fork it and add that functionality if desired.

[2015-10-26 13:32] #415 closed

[2015-10-26 14:07] tranngoclinh88 commented on #412
@majak : Thank you very much!

[2015-10-26 14:07] #412 closed

[2015-10-26 21:51] smalllixin commented on #352
@avnerbarr
HostingView in 0.13 is rewritten. It also break some of my previous code.
After some investigations I see a very simple way to fix it.
But you have to modify one line source code to let it works.
CKComponentHostingView.mm  line:74 ( in initWithComponentProvider method )
[code]

[2015-10-27 12:22] topa51 commented on #415
Hi Adam, thank you.

Any clue, where exactly I should do this. I investigate source code, but I don't have any idea, why setCornerRadius not working correctly.

[2015-10-27 19:23] grp commented on #415
You could use `cornerRadius` on a layer (see `CKComponentViewAttribute::LayerAttribute()`) along with `clipsToBounds`, or for a generally more performant solution you could modify the network image component to do the rounding in CoreGraphics after downloading it and before displaying it.

[2015-10-28 13:24] ocrickard commented on #303
Sorry I haven't gotten around to looking into this yet! I haven't forgotten about you.  Did you find anything else out @VaruzhKhachatryan ?

[2015-10-28 13:27] VaruzhKhachatryan commented on #303
No, have you resolved it?

[2015-10-31 05:06] tranngoclinh88 opened #420 "How to align 2 buttons, one left and one right?"
As my title, I want to ask you to support for alignment 2 button in a view.
They should be one on left and the other on the right.
Please help.

[2015-10-31 14:33] adamjernst commented on #420
Use a `CKStackLayoutComponent` with direction `Horizontal`. Put a spacer element between them with `flexGrow = YES`:

[code]

[2015-10-31 14:33] #420 closed

[2015-11-01 10:42] MohsenElgendy opened #421 "Disable initial fadeIn animation for CKCollectionView"
I am using CKCollectionView and when the data is populated and cells appears they all appear with a fadeIn animation, I want to disable this fadeIn animation? Any Suggestions ?

[2015-11-01 13:28] tranngoclinh88 commented on #420
Thank @adamjernst.
I tried this solution before but it did not work.
I've just try some code and now it work.

[2015-11-01 21:51] smalllixin commented on #421
What you need is copy a new CKCollectionViewDataSource.
Then replace performBatchUpdates to reload.

[2015-11-02 14:23] MohsenElgendy commented on #421
How is that going to stop the fading effect ? is there another workaround this ?

[2015-11-04 05:02] tamnt2692 opened #423 "Demo bug with UIActivityIndicator"
Hi guy,

I like very much when use ComponentKit. I have loading component like this:

![screen shot 2015-11-04 at 11 53 52 am](https://cloud.githubusercontent.com/assets/11673429/10929808/c995844a-82ea-11e5-9a61-887e0c788cf3.png)

when tap on InteractiveQuoteComponent, I push a simple UIViewController. Before push view, the component random show loading component like this:

![screen shot 2015-11-

[2015-11-04 20:31] adamjernst commented on #423
Odd! It might be a problem with `UIActivityIndicatorView` as I know sometimes it stops animating if you hide and re-show it.

You might want to add a `CKComponentController` and call `[self.view startAnimating];` in `didMount`.

[2015-11-04 20:31] #423 closed

[2015-11-09 17:59] toddrick opened #425 "Component with immutable model - improved documentation"
According to the docs, immutable models should be used when passing into components.  I'm trying to understand how to use immutable models with components that allow the user to mutate the state.

For example:

If we use component kit for the news feed in which each 'Post' component includes the 'Like', 'Comment', and 'Share' components.  For the like component, we want to immediately mark the Pos

[2015-11-09 18:14] adamjernst commented on #425
Yes, in fact you probably shouldn't use local component state here at all. Instead you should trigger an update to the Post's liked state back at the top level, which should feed into the ComponentDataSource and re-render that component from the outside.

There is much better documentation about this for React, where it is called the Flux Application Architecture. See here:

https://facebook.githu

[2015-11-09 18:14] #425 closed

[2015-11-09 18:38] toddrick commented on #425
@adamjernst does that mean that, since the top level needs to pass in the selector into the component constructor, that every time we add a mutable action we need to modify every constructor to pass down that selector X number of levels?

[2015-11-10 10:07] gudjao commented on #303
same problem here. hopefully someone has a solution for this.

[2015-11-14 16:04] #421 closed

[2015-11-18 15:41] TheSooth opened #426 "Proper way of passing model"
Guys, please explain me how to do this thing in a 'proper way':

For ex. I have a footer component with 'Like' button,
When I tap on like button - I want to update my model and send some call to server.

This can be done in next ways:
- Adding to my component property with model (When I will tap on button in ComponentController I will handle action with my component which my model)
- Passing some

[2015-11-18 16:16] adamjernst commented on #426
The way we do it at Facebook is to apply the Flux application architecture:

https://facebook.github.io/flux/docs/overview.html

The idea is that you have top-level "stores" that contain immutable objects, and your components should communicate back to those stores via "actions" to trigger updates to the store. Check out that page for more!

[2015-11-18 16:16] #426 closed

[2015-11-18 17:08] TheSooth commented on #426
@adamjernst  Thanks,but I meant how "store" will be know which model it should updates?
I should a pass some model ID to store, and store will update it, right?

[2015-11-18 17:26] adamjernst commented on #426
Yes, exactly.

[2015-11-18 17:41] TheSooth commented on #426
@adamjernst so It's a normal way to have a variable in component with modelID/'store', am I right?

and in this case, I can make for example a Controller for my component which will be handle all events from button components, after this controller can call some methods in store and do some magic, yep?

[2015-11-18 17:46] adamjernst commented on #426
Yes, that sounds about right!

[2015-11-18 17:49] TheSooth commented on #426
@adamjernst  Thanks dude, sorry for stupid questions.
I just thinking that storing something in component it's not a good idea.

Thanks again!

[2015-11-19 15:32] TheSooth opened #427 "Issue with animationsFromPreviousComponent"
I'm implemented a default dataSource for collectionView (CKCollectionViewDataSource), updating my model and pushing new changes to dataSource - new changes has appeared, but method animationsFromPreviousComponent: never called.

If I am trying to set a new state to component - then animationsFromPreviousComponent method is called.
Also I am trying to implement new dataSource (CKCollectionViewTrans

[2015-11-20 04:25] gudjao opened #428 "Help using CKTextKitEntityAttribute"
I'm using CKTextKitEnitityAttribute to make the link clickable. but the problem is that when using CKTextComponent, the app crashes when you click on a trancated link.

<img width="328" alt="screen shot 2015-11-20 at 12 24 47 pm" src="https://cloud.githubusercontent.com/assets/4822801/11291937/b6958c7a-8f81-11e5-965e-a55c49dec24b.png">

[code]

[code]

[2015-11-20 15:55] ocrickard commented on #428
Can you provide the exception and call stack please?

[2015-11-23 04:01] gudjao commented on #428
@ocrickard here it is.

*** Assertion failure in __63-[CKTextKitRenderer(Tracking) rectsForTextRange:measureOption:]_block_invoke(), /.../Pods/ComponentKit/ComponentTextKit/TextKit/CKTextKitRenderer+Positioning.mm:31

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: ''
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010c506f45

[2015-11-23 04:02] ocrickard commented on #428
Looks like a bug to me! I'll try and get it fixed ASAP.

[2015-11-23 04:07] gudjao commented on #428
Thanks.

[2015-11-24 15:27] leoschweizer opened #429 "Question - component (controller) lifecycle - "birth" and "death" hooks"
I often encounter situations where I want my components to be delegates of some kind of event sources (e.g. a countdown timer, which should trigger an update of the component on every tick). So I have associated component controllers which subscribe and unsubscribe to these sources.

However, none of the provided lifecycle methods seem to suit this purpose. `willMount/didMount` and `willUnmount/di

[2015-11-24 16:13] adamjernst commented on #429
Yep! Short answer is that there is no good solution just yet.

I've been thinking about it recently for a similar use case of my own.

I'd be open to PRs of course.

[2015-11-24 16:31] leoschweizer commented on #429
@adamjernst I'd be willing to contribute one. Do you already have a rough idea how it could work?

I just skimmed the `CKComponentController` implementation and it seems that a `willMountInitially/didMountInitially` lifecycle method could be straightforward (based on `_performedInitialMount`?).

However I don't see how an end-of-life hook would work.

[2015-11-25 19:38] #428 closed

[2015-11-25 19:39] ocrickard commented on #428
Should be fixed. Let me know if you find any other issues.

[2015-11-25 19:40] ocrickard commented on #303
Can you guys try again, I think I may have fixed this in https://github.com/facebook/componentkit/pull/431/commits

[2015-11-25 19:50] ocrickard commented on #303
Actually wait, I think I can repro locally. Dont' think this is fixed, but now I can repro, should be simple to fix.

[2015-11-26 04:22] ocrickard commented on #303
Alright, https://github.com/facebook/componentkit/pull/432 does resolve the issue for me. @VaruzhKhachatryan would you mind patching and confirming if that resolves the issue you're seeing? It does fix the issue I repro'd locally, but I want to make sure it's the same.

[2015-11-26 05:31] gudjao commented on #303
@ocrickard great, I did some testing and it seems like #432 solved it.

[2015-11-26 05:35] gudjao commented on #428
Yup It's working. Nice fix. Thank you.

[2015-11-26 15:31] #303 closed

[2015-11-26 15:33] ocrickard commented on #303
Sweet! Let me know if you guys still have any issues. I don't get a ton of time to code anymore, but if you send me an email I'll be more responsive.

[2015-11-30 02:02] toddrick opened #435 "Question - How to use changeset API to reload data"
Suppose we have loaded a list into our collection view. Then the user pulls to refresh, and our endpoint returns a new list of items to show (some may have been deleted, modified, or new). We want to just throw out the old list and use the new one. However, the changeset API makes this difficult to accomplish because we would need to either
A. Loop through and delete all existing items, then add t

[2015-11-30 14:18] adamjernst commented on #435
Actually no, there's not a better way right now. You could fork and add an option to just reload everything; it's not something I want in the core, but it definitely makes sense for use cases like yours!

[2015-11-30 14:18] #435 closed

[2015-12-01 10:47] toddrick commented on #435
Can you elaborate as to why this shouldn't be "in the core?" I understand that Facebook's news feed API may use a database cursor to return change lists when refreshing data, but very few startups can afford to build APIs that way early on. In addition, if you're working with medical data, financial data, or anything where elements can be frequently changing outside of the users control, it's impo

[2015-12-01 22:24] fatalaa commented on #435
I am clearing the collectionview like this:
[code]

Adding elements to the collectionview is like this:
[code]

[2015-12-02 03:08] ocrickard commented on #199
We reverted usage of Slather, so we don't need this anymore I think.

[2015-12-02 07:45] toddrick commented on #435
But this is 1. Way more code needed then the single line of [self.collectionView reloadData]; and 2. Specific to your data model that will have to be customized in every view controller. In addition, it will be expensive when you have loaded a lot of items into your model since you need to remove each individual item (while is a problem when you're dealing with large datasets, especially ones that

[2015-12-02 08:00] fatalaa commented on #435
My implementation is based on a somewhat naive approach, and it works well with more than 1k items in the datasource, but I agree with you because it's more difficult than just invoking a "clear" method.

[2015-12-03 09:52] ryuheechul opened #436 "How can I pass struct type for CKViewComponentAttributeValueMap"
I want to do something like this
[code]
but it won't accept struct type.

[2015-12-03 10:46] vbadeasv commented on #436
You can use
{@selector(setTitleEdgeInsets:), [NSValue valueWithUIEdgeInsets:UIEdgeInsetsMake(0, 10, 0, 10)]}

ComponentKit will make sure to extract what's inside the NSValue and pass it to the setter (see performSetter(id object, SEL setter, id value) from CKComponentViewAttribute.mm)

[2015-12-03 15:22] adamjernst commented on #436
Yep, wrap in NSValue.

[2015-12-03 15:22] #436 closed

[2015-12-03 17:50] darknoon commented on #436
It might be worthwhile to define a c++ type as the argument that would auto-box known Apple c types into their correct equivalent.

[2015-12-03 18:31] darknoon commented on #436
@adamjernst here's an idea: https://github.com/facebook/componentkit/pull/437

[2015-12-04 02:46] tonychan818 opened #438 "Question for highlight and tap for attributed string in CKTextComponent"
Hi,
I have read #246 and #74 about how to append the tap action to a textComponent, but still no luck.
here is my code.

for creating the attributed string:
[code]

and the TextComponent
[code]

and it becomes
<img width="302" alt="screen shot 2015-12-04 at 10 40 54 am" src="https://cloud.githubusercontent.com/assets/5890291/11580619/3550116e-9a74-11e5-9159-1b7b4091ad7f.png">

the link is highligh

[2015-12-04 02:50] ocrickard commented on #438
Man, I really need to write some docs on this.  Hopefully soon!

The issue most likely is that you're using NSLinkAttributeName. We don't use that since Apple's code applies styling to the string when you set that attribute, and we didn't want to mess with our styling systems when we add links to ranges.

Instead of using NSLinkAttribute, you would use CKTextKitEntityAttribute:

https://github.com

[2015-12-04 02:50] #438 closed

[2015-12-04 03:06] ocrickard commented on #438
Oh, and you're going to need to apply your styles to the string in your enumerator block since we won't color your links blue for you.

[2015-12-04 03:16] tonychan818 commented on #438
ya! it works now, thanks so much!

[2015-12-04 09:47] tonychan818 opened #439 "Setting corner radius of uiimageview get error"
I have created a component extend from CKCompositeComponent and here is the new function:
[code]

then I got this error:
<img width="1419" alt="screen shot 2015-12-04 at 5 45 31 pm" src="https://cloud.githubusercontent.com/assets/5890291/11586588/1d431004-9aaf-11e5-9595-3b63642db559.png">

any idea?

[2015-12-04 14:59] ocrickard commented on #439
You're using setCornerRadius directly on the view here. I believe that parameter is present on the view's layer right?

We do have a helper to apply configuration selectors to the view's later, but I can't find them right now since I'm on my phone. I bet you can find them by digging around the view attribute code in CK.

Sent from my iPhone

[2015-12-04 15:44] adamjernst commented on #439
Yep, use `CKComponentViewAttribute::LayerAttribute(@selector(setCornerRadius:))`

[2015-12-04 15:44] #439 closed

[2015-12-07 02:39] tamnt2692 commented on #423
Hi guy,

With demo, I enqueue 10 item quote in first time - section 0, second enqueue I add one activity indicator at {1, 0} - index section 1, item 0, ViewReusePool create new view for activity indicator (1 instance).

Next, I enqueue 10 item quote in section 0, and scroll to bottom, activity indicator show again, BUT ViewReusePool ALWAYS create new view for it (n instance) when scroll to bottom

[2015-12-08 06:35] tonychan818 opened #440 "How to pass data from component to component controller?"
I have read this http://componentkit.org/docs/component-controllers.html
It said :
To pass data from a component to its controller, expose a @property on the component in a class extension. The controller can read those properties in didUpdateComponent.

but how??
now I got a component [TestComponent] with a tap gesture "click"
[code]

and I can call the function in the component or the component

[2015-12-08 06:46] tonychan818 commented on #440
oh...I got it, in componentController, I can got my property by access self.component instead of using the component from sender:
[code]

[2015-12-08 07:19] tonychan818 commented on #440
Sorry, it is just to stupid, just do this in the new method
[code]

[2015-12-08 07:19] #440 closed

[2015-12-08 07:45] tonychan818 opened #441 "does componentkit support animationImages in UIImageView?"
as I know componentkit render a new component every time when the layout is modified.
so does this component valid?
[code]
since it is not showing anything once I set the animationImages. So, is the best way to do this is to keep changing the state for every 1.6s in my case??

[2015-12-08 15:49] adamjernst commented on #441
I would avoid changing the state every 1.6 seconds. I'm not sure why the animation images property isn't working right—I'd breakpoint after mounting and inspect the properties on the `UIImageView` in the debugger. Let me know what you find out!

[2015-12-08 15:49] #441 closed

[2015-12-09 03:41] tonychan818 commented on #441
got it, cause I am not calling the function in main thread.
so I did the following in the componentController

[code]

[2015-12-09 11:16] tamnt2692 opened #442 "Why ViewReusePool create many instance of UIActivityIndicatorView ?"
Hi guy,

With demo, I enqueue 10 item quote in first time - section 0, second enqueue I add one activity indicator at {1, 0} - index section 1, item 0, ViewReusePool create new view for activity indicator (1 instance).

Next, I enqueue 10 item quote in section 0, and scroll to bottom, activity indicator show again, BUT ViewReusePool ALWAYS create new view for it (n instance) when scroll to bottom

[2015-12-09 15:20] adamjernst commented on #442
ComponentKit doesn't apply different reuseIdentifiers to different cells or sections in the UICollectionView, so it's possible for any cell to be recycled to show something very different.

In this case, the cells are being recycled between showing quotes and showing the activity indicator. It is expected that many activity indicators will be created.

This can be suboptimal sometimes if a view is

[2015-12-09 15:20] #442 closed

[2015-12-15 07:37] tonychan818 opened #443 "Can I find a component with scope??"
in a collectionview controller, suppose a component is delegate to the controller for requesting an image(for some reason, I can't use the NetworkImageComponent). When the image is loaded. How can the controller inform that component to update the image??

what I thought so far is to manually store the NSIndexPath of that component, when the image is done. do something like
[code]

is there any be

[2015-12-16 08:22] ryuheechul commented on #436
Cool! Thanks guys!

[2015-12-18 02:01] esam091 opened #444 "CKLabelComponent with size?"
How do I get a label component with configurable size? something like
[code]

I can achieve the similar using
[code]

or I can make a composite component that does the same thing, but those feel like hacks to me. Any advice for this?

[2015-12-18 02:05] ocrickard commented on #444
This was an oversight when I wrote the API, we should fix it by adding the size: parameter to the constructor, and threading it through both CKLabelComponent and CKTextComponent. Pull requests welcome!

In the meantime, you can probably use a static layout component to achieve the same effects: CKStaticLayoutComponent.

[2015-12-19 03:17] mornirch opened #445 "CKLabelComponent miscalculated the height."
[CKLabelComponent
     newWithLabelAttributes:{
         .string = @"你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界你好世界",
         .font = [UIFont systemFontOfSize:14],
         .maximumNumberOfLines = 3,
         .lineSpacing = 6,
         .alignment = NSTextAlignmentJustified,
         .truncationString = @"...",
     }
     viewAttributes:{}]

It is

[2015-12-21 13:05] fatuhoku opened #447 "How could a waterfall layout be implemented?"
e.g. https://github.com/chiahsien/CHTCollectionViewWaterfallLayout

[2015-12-21 16:15] adamjernst commented on #447
We do this internally at Facebook by overriding `computeLayoutThatFits:` and doing layout math there. We created a generic "grid layout component" that can be reused for similar layouts. It would be cool if you open sourced something similar!

[2015-12-21 16:15] #447 closed

[2015-12-21 16:18] adamjernst commented on #445
There are subtle bugs in Apple's text rendering code that often result in bugs like this. We've seen it frequently.

If you can track it down to a bug in ComponentKit, please comment on this task and point out the problem!

[2015-12-21 16:18] #445 closed

[2015-12-23 04:10] mornirch commented on #445
Always use infinite height initialize NSTextContainer can avoid this problem.
_textContainer = [[NSTextContainer alloc] initWithSize:{constrainedSize.width, INFINITY}];

[2015-12-23 09:14] tonychan818 opened #448 "to keep uiCollectionView on the same row even new row added."
suppose now I have 10 rows
...
4
5
6
7
...
when the row 0 inserted in the top.
the collectionView is automatically scrolled to become
...
3
4
5
6
...
how can I keep it to the position to focus on (4) according to the above case?

[2015-12-23 10:23] mornirch opened #449 "how to get component size on CKNetworkImageDownloading protocol?"
I want download a image which is same size with component.

[2015-12-23 15:41] adamjernst commented on #449
We don't want to support that in the core `CKNetworkImageComponent`. I would fork it and modify the protocol in your fork. From there it should be easy—the method is invoked from a `UIView` which has size information in its `frame`.

[2015-12-23 15:41] #449 closed

[2015-12-24 02:43] matin0728 opened #452 "How do you create a multi column layout?"
I'd like to create a collection view with 2 columns，but I did find a proper way to do it with ComponentKit, is anyone can help?

[2015-12-24 18:18] kevin0571 commented on #396
I also notice that if I use +systemFontOfSize:weight instead of boldSystemFontOfSize:
flicker happens every time even with small amount of text(less than 10 character) after I update the cell.
Any idea about why this happened?

[2015-12-24 18:20] ocrickard commented on #396
The only reason this would be particularly bad for different fonts is if
that font is especially slow at sizing when compared with other fonts.

You can wrap your root views with transaction containers to prevent the
flickering.

On Thursday, December 24, 2015, Kevin Lin <notifications@github.com> wrote:

--
----------------------------------------------------------
Oliver Clark Rickard
ocrickard@

[2015-12-24 18:26] kevin0571 commented on #396
Thanks for quick reply.
Will look into transaction container.

[2015-12-25 02:48] mornirch commented on #449
frame is {0, 0, 0, 0} at first use.

[2015-12-26 02:10] tranngoclinh88 commented on #204
@ThanhTurin
How about your horizontal UICollectionView? I'm also have a task related to this issue.
Did you resolved your issue?

[2015-12-27 00:39] nihalahmed opened #453 "Updating CKComponentHostingView synchronously and asynchronously eventually causes future asynchronous updates to never happen"
I think the problem arises when the following code path gets executed:
https://github.com/facebook/componentkit/blob/master/ComponentKit/HostingView/CKComponentHostingView.mm#L199.

The code returns early but does not set `_scheduledAsynchronousComponentUpdate` to `NO` before returning.

[2015-12-27 10:01] MohsenElgendy opened #454 "How to add header and footer views to uicollectionview ?"
I am not using UICollectionView directly, i am subclassing CKCompositeComponent and inside that i am creating a uicollectionview, but the question is that whenever i try to add normal methods for creating a header to the section it gives an error related to animations.

How to add a footer view to UICollectionView directly within a CKCompositeComponent ?

Even using the simplest method which is "r

[2015-12-28 02:52] mornirch commented on #452
http://componentkit.org/docs/layout.html#implementing-computelayoutthatfits

[2015-12-28 04:59] ThanhTurin commented on #204
@tranngoclinh88 : Sorry for my late response.
I solved this problem by this way:
1. Create a CKStackLayoutComponent component (i call it contentComponent) and set [UIScrollView class] in block newWithView
2. In method componentTreeWillAppear (in ComponentController), i set contentSize for (UIScrollView *)self.contentComponent.viewContext.view
Hope it will help you :)

[2015-12-28 10:01] tranngoclinh88 commented on #204
@ThanhTurin :+1:

[2015-12-28 14:02] tranngoclinh88 commented on #204
Sorry @ThanhTurin .
I still can not know how to using method componentTreeWillAppear
Can you please give more detail or sample source code?

[2015-12-29 15:18] ThanhTurin commented on #204
This is a simple horizontal component sample. You can reset contentOffset of your scrollview or anything else in Component Controller.  (https://github.com/facebook/componentkit/files/74049/SimpleHorizontalDemo.zip)

[2015-12-30 16:24] tranngoclinh88 commented on #204
@ThanhTurin Thank you so much!

[2015-12-31 07:26] esam091 opened #455 "UIImage thread safety"
It seems that `[UIImage imageNamed:]` is [not thread safe](http://stackoverflow.com/questions/26562317/load-uiimage-in-background-thread), and iirc components are created in background thread. To make it thread safe, I have to load the images first and then pass them through the context. It would be better if we have something like `[CKImageComponent newWithImage: [LazyLoadedImage imageNamed:@"ima

[2015-12-31 17:06] ocrickard commented on #455
Definitely, this is something we've struggled with for a long time, and isn't unique to ComponentKit. In iOS 9 I believe in practice (and documented) we *have* found that UIImage imageNamed: is threadsafe on iOS 9+, but you're right that we need workarounds for versions prior to this. The approach we used is to preload and hit an in-memory cache on bg threads.

I don't think that we should make an

[2015-12-31 17:06] #455 closed

[2016-01-01 01:59] Stunner opened #456 "CKComponentDataSourceDelegate Protocol Definition Not Found"
Adding the following to my tableview file (with extension of .mm)
[code]
Gives me a warning stating that `CKComponentDataSourceDelegate` protocol definition cannot be found.

This issue is not present in version 0.12.

[2016-01-01 05:13] kevin0571 commented on #396
@ocrickard Just checked out *CKAsyncLayer*, found that if _needsAsyncDisplayOnly == YES, parent transaction container's displayMode will be ignored, as shown in:
https://github.com/facebook/componentkit/blob/38af8253af3c345a1d52fc0153002d4215442ba9/ComponentTextKit/Utility/CKAsyncLayer.mm#L138

And every time *CKTextComponent* is mounted, renderer of *CKTextComponentLayer* will be reset, and it ca

[2016-01-04 02:08] esam091 commented on #455
The only thing that bothers me with this preloading approach is that I have to specify what images I want to preload, and not to forget to keep track of what images are changed in the component every time we need to change assets. Any suggestions on this @ocrickard ?

[2016-01-04 02:58] ocrickard commented on #455
Yeah, totally agree it's not great. We pre-load all the ones we know are hit often, and then we (in an extremely careful way), bounce to the main thread to load images synchronously in component creation if they haven't been pre-loaded. The thread switch is really dangerous and we had tons of code review to make sure it wouldn't deadlock... but it does work for the cases where you forget to add a

[2016-01-04 04:06] esam091 commented on #455
I'll go with the old way I think, since it's the simplest way to go for now. Those are good ideas but we don't have the resources for now. Thanks alot :)

[2016-01-04 16:24] MohsenElgendy commented on #454
@adamjernst Can you offer any help ?

[2016-01-05 03:11] ryuheechul opened #457 "Time for next release(0.14) for Cocoapods?"
There is lots of bug fixes and improvements after 0.13

(you can check the changes via the link below.)
https://github.com/facebook/componentkit/compare/46141bbbe8146f4dde7dc14340db066b263676fa...master

It would be nice that the recent source code can be shipped via cocoapods for many.

[2016-01-05 17:42] adamjernst commented on #457
Sure!

[2016-01-06 00:52] fatalaa commented on #454
First, I think you should subclass UICollectionView, implement the
```- (UICollectionReusableView *)collectionView:(UICollectionView *)collectionView viewForSupplementaryElementOfKind:(NSString *)kind atIndexPath:(NSIndexPath *)indexPath``` method
For example:
[code]

I suppose you should use a ComponentController to properly handle the state of your embedded ```UICollectionView```'s fetching.

[2016-01-07 19:31] dbworku commented on #457
+1

[2016-01-10 19:48] #454 closed

[2016-01-11 21:31] adamjernst commented on #368
Closing unless we decide it's doable.

[2016-01-11 21:31] #368 closed

[2016-01-11 21:45] kastiglione commented on #368
:ok_hand:

[2016-01-13 14:20] #444 closed

[2016-01-13 19:41] adamjernst commented on #456
Yes, it was moved to a new separate header that you'll have to import. (Or use the umbrella header; if it's not there already, issue a PR to add it.)

[2016-01-13 19:41] #456 closed

[2016-01-13 19:44] Stunner commented on #456
I should clarify that I was following the ComponentKit guide found here: http://componentkit.org/docs/datasource-dive-deeper.html If you guys could update that when you get a chance to that would be really helpful.

[2016-01-13 19:44] Stunner commented on #457
:+1:

[2016-01-13 20:08] adamjernst commented on #456
Ah, sounds good!

[2016-01-14 02:08] conradev opened #461 "CKViewComponentAttributeValueMap being unordered can cause issues"
Because the `CKViewComponentAttributeValueMap` is unordered, the value in the below example can be set before the maximum value is set, and the default maximum value is `100`. So, in this case, if value is set to `150` while the maximum value is still `100`, it gets normalized to `100`.

[code]

Thoughts on turning `CKViewComponentAttributeValueMap` into an ordered map?

[2016-01-14 02:18] ocrickard commented on #461
In general we view requiring a specific sequence of mutable calls in order to guarantee correct behavior as a bit too fragile -- it will eventually break. That being said in this case it sounds like you can't control the view class (UIStepper) to harden its behavior. Instead we have some workarounds you could probably use for this case:

1. Use a custom attribute applicator. I believe we allow a b

[2016-01-14 02:19] ocrickard commented on #461
Closing this out. Feel free to reopen if the workarounds don't work as advertised!

[2016-01-14 02:19] #461 closed

[2016-01-14 02:20] conradev commented on #461
Makes sense, thanks! I'll use a block applicator for this particular case.

[2016-01-18 11:38] vizlabxt opened #465 "How to apply margin value to component?"
hi, I've been playing around with ComponentKit for a few days. Is there any place to specify  "margin-left" or "margin-top" attribute to the component?

[2016-01-19 06:57] vbadeasv commented on #465
You can wrap your component in a CKInsetComponent. For example:
[CKInsetComponent
 newWithInsets:{ .left = 10, .top = 10 }
 component:[CKLabelComponent
            newWithLabelAttributes:{
                .string = @"Foo"
            }
            viewAttributes:{}
            size: {}]];

[2016-01-19 16:36] modocache commented on #199
@MarcoSero A `Gemfile` is probably the way to go! :+1:

@ocrickard Sounds good. Might want to open an issue if you plan on adding coverage metrics again in the future :8ball:

[2016-01-19 16:36] #199 closed

[2016-01-19 16:43] seyfeddin commented on #457
+1

[2016-01-20 07:41] bartl-git commented on #385
Have the same issue. Did anyone find a solution? Thanks.

[2016-01-20 10:03] vizlabxt commented on #465
@vbadeasv thanks!

[2016-01-20 10:03] #465 closed

[2016-01-21 01:28] #457 closed

[2016-01-21 01:30] adamjernst commented on #457
woo done

[2016-01-21 08:17] vizlabxt opened #470 "Is there any attribute equivalent to "flex-wrap" ?"
Hi:

Does CKStackLayoutComponent support "image wrapping" ?
<img src="http://www.ruanyifeng.com/blogimg/asset/2015/bg2015071006.png"/>

[2016-01-21 13:46] mwfire opened #471 "Update inline documentation for `CKLabelComponent`"
I just learnt that the `CKLabelComponent` initializer now has an additional parameter `size`.
However, the class documentation has not been updated accordingly.
Just wanted to let you know, see the following excerpt from 'CKLabelComponent.h':

[code]

Thanks guys and keep up the good work :)

[2016-01-21 16:09] adamjernst commented on #470
Nope! We decided not to implement it to keep the stack layout component simple. Pull requests welcome, but they'd have to keep the complexity very low and comply with flex-box's semantics.

[2016-01-21 16:09] #470 closed

[2016-01-21 18:28] dbworku commented on #158
@adamjernst  @DrChrispoper does this still work?

I tried pass a snapshot of the previous component's view with `snapshotViewAfterScreenUpdates:NO` in the `willRemount` block. However, both the `viewContext` and `viewForAnimation` on the component are `nil`.

[2016-01-22 13:47] vbadeasv opened #472 "Ignore touches for text which is not "clickable link""
Hi all,

I have the following case:
- A list of Twitter tweets displayed in a UICollectionView.
- The tweet's content is displayed using CKTextComponent (the URLs inside tweet's content  are made clickable via CKTextKitEntityAttributeName)
- I want to open a Safari controller whenever the user taps a URL, but when he **taps non URL text** to let the CollectionView to select the cell so to be able

[2016-01-22 17:26] ocrickard commented on #472
Yes, we basically do the same thing internally for Feed, so your solution is correct. I think you're better off duplicating and customizing CKTextComponentView as a separate library to achieve this, and probably not implement it in a category (but obviously that's up to you). I don't want to override hitTest by default in the core library because it has lots of implications (and headaches) for nor

[2016-01-22 17:26] #472 closed

[2016-01-23 07:15] vbadeasv commented on #472
Thanks @ocrickard. Probably I'll end up with a custom conponent in a separate library because I have some other changes/additions to ComponentKit.

[2016-01-28 16:58] adamjernst commented on #452
Yup, implementing `computeLayoutThatFits:` is probably your best bet here.

[2016-01-28 16:58] #452 closed

[2016-02-05 13:16] antigp commented on #470
@vizlabxt , Implemented in #479

[2016-02-10 16:59] dbworku opened #483 "[Question] Can we expose CKComponentSnapshotTestCase?"
I'm creating snapshot tests for custom components in an app. Is there a better way to expose the `CKComponentSnapshotTestCase` class to a private repo than copying the files?

My suggestion is to make `CKComponentSnapshotTestCase` a subspec. Then we could add those files to any target with `pod 'ComponentKit/ComponentSnapshotTestCase'` .

[2016-02-10 20:45] ocrickard commented on #483
Yeah, this is a good point, and sounds like copying the files atm is about the best you can do. TBH, we haven't really formed opinions on whether we should use subspecs or what... Would love to see a pull request showing what that looks like. Mind writing one?

[2016-02-10 20:46] ocrickard commented on #471
lol yep, good catch. PR?

[2016-02-10 20:50] ocrickard commented on #453
Oh boy, that doesn't sound good. Can you provide a limited repro case?

[2016-02-10 20:51] ocrickard commented on #448
This is more of a question for general UICollectionView, and not necessarily Components. You can solve this by recording and restoring scroll position relative to the elements in your list.

[2016-02-10 20:51] #448 closed

[2016-02-10 20:53] ocrickard commented on #443
I would avoid coupling your view controllers to your components. One potential solution: The component itself can interact with a scoped image downloader, and when the image arrives you can directly call [self updateState...], and store the image or an identifier as the state for the component.

[2016-02-10 20:53] #443 closed

[2016-02-10 20:59] ocrickard commented on #429
I'm going to close this for now. There isn't a good way for us to do this today, though it's on @adamjernst's radar and we're going to try and fix soon.

[2016-02-10 20:59] #429 closed

[2016-02-10 22:16] fatalaa opened #484 "CKFinalClassViolationException thrown when using 3rd party A/B testing framework"
Hi there.
I want to use Apptimize iOS SDK for A/B testing but I encountered a strange issue.

ComponentKit version: 0.14
Cocoapods version: 0.39.0

When I initialize the Apptimize SDK at in AppDelegate, my app crashes with this trace:
[code]

Is this ```__ABT_CKCollectionViewDataSource``` somehow related to ComponentKit or it's a bug?

Thanks in advance.

[2016-02-10 22:18] ocrickard commented on #484
Oh man yeah, we disallow subclassing certain pieces of infrastructure in ComponentKit. You may be able to get around this via ifdef magic. The macro is defined here:

https://github.com/facebook/componentkit/blob/master/ComponentKit/Base/CKMacros.h#L26

You may need to disable this macro in your test configuration in order to use Apptimize.

[2016-02-10 22:18] #484 closed

[2016-02-10 22:21] fatalaa commented on #484
The funny thing is, that I am not subclassing the CKCollectionViewDataSource, is it possible that Apptimize SDK has a class with a similar name which could be the cause of this bug?

[2016-02-10 22:42] ocrickard commented on #484
My guess is that the Apptimize SDK is runtime subclassing for some reason, so though you may not be doing it intentionally, seems like they are doing it for you :P

[2016-02-10 22:51] fatalaa commented on #484
I tried
[code]
with no success at the .mm file where I am #importing ComponentKit.h

Any ideas?

[2016-02-10 23:57] grp commented on #484
You'll need to modify it in the header. The issue is when that macro is used in ComponentKit itself, not in your code importing ComponentKit.

[2016-02-11 01:51] dbworku commented on #483
Absolutely, I'll work on a PR.

[2016-02-11 19:27] richzertuche commented on #220
I think there's still missing some basic examples, or tutorial on how to start from 0. I gave it a try and ended with almost the same as in Wilde Guesse, but not getting it clear yet.

[2016-02-19 00:56] gsapienza commented on #221
Any news on this?

[2016-02-19 01:40] kastiglione commented on #221
I did not follow up on this. I'm not aware of any other progress on this. @gsapienza if you have any interest in contributing support for Carthage, I'd be happy to answer questions or otherwise support this.

[2016-02-19 10:25] tonychan818 opened #487 "is there any layout fit this case??"
I wanna create a layout like CKTextComponent's behaviour, but using views instead of text.
I try to do this with a CKStackLayoutComponent with direction Horizontal and set the maxWidth.

What I suppose it looks like:
|-----------------------------|
[View1][View2][View3]
[View4][View5][View6]

but what it comes out
|-----------------------------|
[View1][View2][View3][View4][View5][View6]

since th

[2016-02-19 11:37] ocrickard commented on #487
You probably want something like a flex-wrap implementation. Sadly we don't support that standard yet. There was recently a PR that had an incomplete implementation that needs some work. If you'd like to pick it up that'd be awesome!

Alternatively it's not too bad to write a basic greedy wrapping component that may not fully respect the specification but would solve your case. You can create a ne

[2016-02-19 14:39] #487 closed

[2016-02-19 14:42] ocrickard commented on #487
Here's an implementation that I wrote for a side project a couple months ago that can kinda show you how to do this:

[code]

[2016-02-20 17:52] #471 closed

[2016-02-22 02:15] tonychan818 commented on #487
awesome! thanks!

[2016-02-22 08:40] natansh opened #491 "CKRecursiveComponentReflow doesn't work with Transactional Data Source"
The reflow mechanism doesn't handle the TDS case yet. I wonder if `rcomponents` is used that much. If not, we should consider removing that code, both here and in `chisel`.

[2016-02-24 12:38] mwfire opened #494 "[Question] How to set adjustsFontSizeToFitWidth on CKLabelComponent?"
Hey there!

Is it possible to use `setAdjustsFontSizeToFitWidth` with a `CKLabelComponent`, that is, passing it through to the underlying UILabel component? The following crashes:

[code]

Thanks in advance, any help would be appreciated :)

[2016-02-24 20:50] eczarny commented on #494
I don't believe `CKLabelComponent` is backed by a `UILabel`. I'm assuming you're seeing an `NSInvalidArgumentException` exception due to an unrecognized selector being sent?

[2016-02-25 03:26] ocrickard commented on #494
@eczarny is correct, we don't implement variable font size. If you need it for this label you can use a component which directly configures a UILabel via a view configuration.

If you'd like to implement variable font sizing, we're open to Pull Requests! It'd be awesome if we could do it quickly. The algorithm is a little complex and results in frame drops when you use it with UILabel, but if we w

[2016-02-25 03:26] #494 closed

[2016-02-25 08:35] mwfire commented on #494
@eczarny @ocrickard Thanks for your reply, makes sense. Just wanted to make sure that somewhere down the chain there isn't a label that would respond to that selector. Still have to dig a bit deeper to fully understand some of ComponentKits concepts, thanks for bearing with me. :)

[2016-03-03 12:24] optimviewSkycity opened #498 "Update component to remove UIActivityIndicatorView"
I have a component which loads a picture using SDWebImage. In the +(instancetype) newWith ... class method, I wrote a custom [CKComponentViewAttribute](https://github.com/facebook/componentkit/blob/master/ComponentKit/Core/CKComponentViewAttribute.h) which sets the image on the imageView created by a trivial CKComponent which has the [UIImageView class]. At the same time, here, I check the compone

[2016-03-03 13:28] ocrickard commented on #498
We provided an implementation of a super simple network image component in the open source repo: https://github.com/facebook/componentkit/blob/master/ComponentKit/Components/CKNetworkImageComponent.mm

You have a couple options:

1. Leave the activity indicator logic in the view itself, similar to how we do downloading and view updating in the network image component via a wrapper object which enc

[2016-03-03 13:28] #498 closed

[2016-03-10 10:15] buithuyen opened #500 "Google native ads is wrong size"
I create a component as follows:
[code]
I have calculated size of component is `(614.4, 1090.4)`. But I got an issue
<img width="1691" alt="screen shot 2016-03-10 at 5 01 52 pm" src="https://cloud.githubusercontent.com/assets/5087522/13666055/1afe9f3c-e6e2-11e5-8ea9-5bab6f93703b.png">

`CKComponentRootView` size is (614,1090),  but AdsView's Size is (614,1,297.5).
This is log that I get from `IAWA

[2016-03-10 15:57] tranngoclinh88 opened #501 "How to make component with fixed position?"
<img width="1020" alt="screen shot 2016-03-10 at 10 55 11 pm" src="https://cloud.githubusercontent.com/assets/1511264/13675270/64c03c12-e713-11e5-844b-190135e47e72.png">
Please help me to make component with fixed position like image above.

[2016-03-11 03:20] adamjernst commented on #501
[code]

`CKInsetComponent` will anchor the flag to the top left if you supply infinite bottom and right insets. Overlay will put it on top of the base article component.

[2016-03-11 03:20] #501 closed

[2016-03-11 03:24] adamjernst commented on #500
I would bet the `CKComponentSize` you're specifying based on the `DEVICE_WIDTH` will be overridden by the `CKSizeRange` used by your collection view data source.

You can get around this a few ways:

- Use a size range that has a minimum width of 0 and a maximum width of infinity, instead of the usual (where min width and max width are both the width of your view).
- That would affect **every** ro

[2016-03-11 03:24] #500 closed

[2016-03-11 03:25] adamjernst commented on #491
`rcomponents` just needs to be mapped onto `reloadWithMode:userInfo:`.

[2016-03-15 21:05] adamjernst opened #504 "Improve Component Controllers"
#### Summary

`CKComponentController.component` should never be nil and should always point to the latest component. There are two cases:

**Before First Mount**
Users frequently want to access the component from the controller before it is mounted for the first time. Currently the `component` property is modified as part of mounting, so it is nil until the first mount.

**While Unmounted**
Users

[2016-03-15 21:10] adamjernst commented on #504
One interesting challenge is that `CKComponentController.component` is currently `weak` to prevent a retain cycle. It should probably be `strong` instead (to strengthen the never-nil guarantee) and then we manually break the retain cycle at some later point (when removing the item from the data source, or destroying the component hosting view).

This would also neatly solve #429 by giving us an ob

[2016-03-15 21:11] adamjernst commented on #504
… which in turn allows fixing #406, since right now there's no obvious place to fix the leak of the context object.

[2016-03-16 17:49] #352 closed

[2016-03-16 17:50] adamjernst commented on #403
You don't want `sizeRangeForBoundingSize:self.collectionView.bounds.size`. That will limit the height of each cell to the height of the collection view, which I think is not what you want. Use a size range with an infinite potential height.

[2016-03-16 17:50] #403 closed

[2016-03-22 03:17] tonychan818 opened #507 "How do I know when the enqueueChangeSet is done?"
I want to scroll to a specified row, when the target row is ready in the UICollectionview.
what is the best way to do this?

[2016-03-22 21:14] adamjernst commented on #507
Migrate to `CKCollectionViewTransactionalDataSource` and use the `userInfo:` parameter. It'll come out the 'other end' when it's done applying.

[2016-03-22 21:14] #507 closed

[2016-03-24 09:30] wy19901227 opened #510 "When I new a controller in your demo and #import<ComponentKit/ComponentKit.h>"
![image](https://cloud.githubusercontent.com/assets/8086633/14013202/0242c626-f1e6-11e5-8b53-a90dfa8f1636.png)

[2016-03-24 09:55] majak commented on #510
ComponentKit is written in ObjC++. That pretty much means your code using CK has to be compiled as ObjC++. You can fix it by renaming your file (that imports `ComponentKit.h`) from `.m` to `.mm`.

[2016-03-24 09:55] #510 closed

[2016-03-24 11:43] avnerbarr opened #511 "CKComponentAction doesn't follow nested hosting views"
I am getting an assertion error

[code]

I believe this stems because I have a collection view (horizontal scrolled) nested in a hosting view:

Conceptually the component hierarchy is:

[code]

When the component sending the action is nested directly under the `"CKMyCustomComponentWithAController"` , the action is sent / received as expected.

When the component is moved , and becomes nested in th

[2016-03-25 09:28] wy19901227 opened #513 "How to insert diffrent cell?"
In studying CK, In this method
+ (CKComponent *)componentForModel:(Quote *)quote context:(QuoteContext *)context
{

 return [InteractiveQuoteComponent
          newWithQuote:quote
          context:context];

}

How can I get another component? because it's possible that the all cell is not same.

[2016-03-25 09:30] wy19901227 commented on #513
according to  the diffrent model?

[2016-03-25 18:26] adamjernst commented on #513
Yep! Inspect the model.

[2016-03-25 18:26] #513 closed

[2016-03-29 06:52] wy19901227 opened #516 "@selector() can have two more parameter？"
![image](https://cloud.githubusercontent.com/assets/8086633/14100135/b34b3c2a-f5bd-11e5-8b0d-36029b4ad79a.png)
![image](https://cloud.githubusercontent.com/assets/8086633/14100182/1c545800-f5be-11e5-89fb-df13e78cda9f.png)

[2016-03-29 06:54] wy19901227 commented on #516
the method adjustLayoutWithType:midSpace:sizeToFit:  is my creat,It have three parameter, So,I set three value.

[2016-03-29 07:26] wy19901227 commented on #516
What I mean is , I use CKButtonComponent, and I set it's title and image,But I want to make make the titleLeft and ImageRight,So, I write a method to control this,But,How can I use this method?

[2016-03-29 07:46] tranngoclinh88 opened #517 "How can I create components with custom layout."
![img_2124](https://cloud.githubusercontent.com/assets/1511264/14101169/d76b64be-f5bc-11e5-8a8e-bd9efd5975a1.PNG)
I want to use component kit to build UI like this image. Please tell me how to make custom layout?

[2016-03-29 11:19] ocrickard commented on #517
I would suggest that each of the above items be rendered using a separate cell. You should use a UICollectionViewFlowLayout to tile them as you have them here.

The only thing new about your layout that isn't covered in the example project is that your cells are only half-width.

[2016-03-29 11:19] #517 closed

[2016-03-29 11:28] ocrickard commented on #516
Ok there are two parts to this question:

1. How can I create a CKComponentViewAttribute for a selector and more than one argument? The answer is to use our block API to call a custom applicator. You can read more here: http://componentkit.org/docs/advanced-views.html in the second sections on view attributes.

2. In general you should probably not have a single view attribute method which sets th

[2016-03-29 11:28] #516 closed

[2016-03-29 23:30] darknoon commented on #367
Ok, but why did you close it?

[2016-03-29 23:31] #234 closed

[2016-03-30 01:18] wy19901227 opened #518 "When use CKButtonComponnent ,How can I adjust the title and image?"

[2016-03-30 02:27] wy19901227 opened #519 "About my CompositeComponent"
![image](https://cloud.githubusercontent.com/assets/8086633/14130002/e5a60674-f661-11e5-8e18-d3da69cfe52f.png)

[2016-03-30 02:29] wy19901227 commented on #519
![image](https://cloud.githubusercontent.com/assets/8086633/14130040/431f2a24-f662-11e5-913b-78d670656e4a.png)

[2016-03-30 02:33] wy19901227 commented on #519
I set my socialComponent have a edge,but ,the result it isn't right. I contract to your demo,but I cann't find
what's wrong. If I set the postComponnet's size.width,It will be right. But,I think the postComponent's size.width should not to be set. can you point me what's wrong

[2016-03-30 04:16] wy19901227 commented on #516
how to use the block ?

[2016-03-30 09:46] avnerbarr opened #520 "Assertion error in CKComponentController"
I'm getting an assertion error in componentWillUnmount

How should I debug this?

    - (void)componentWillUnmount:(CKComponent *)component {
        ...

    default:
      CKFailAssert(@"Unexpected state '%@' in %@ (%@)", componentStateName(_state), [self class],     _component);
    }

[2016-03-30 16:03] adamjernst commented on #518
CKButtonComponentTests.mm contains some examples.

[2016-03-30 16:03] #518 closed

[2016-03-30 16:05] adamjernst commented on #519
Add flexShrink = YES to the child in the in the horizontal stack that contains the text. That instructs flexbox to shrink that child to fit the available width.

(I'd show you, but you posted a screenshot of code instead of text)

[2016-03-30 16:05] #519 closed

[2016-03-31 01:28] wy19901227 opened #521 "About CKStackLayoutComponent"
![image](https://cloud.githubusercontent.com/assets/8086633/14162908/e23f5c9e-f722-11e5-871b-1cdf2b8ec887.png)

[2016-03-31 01:30] wy19901227 commented on #521
In the picture,what I want is the time and phoneTag  are in the end of the horizontal stackView,zhe red view is a space view. so How can I set ?

[2016-03-31 01:56] darknoon commented on #521
Setting the red layout child to `.flexGrow = true` will probably do what you need, but you can also set the last child to `.alignSelf = CKStackLayoutAlignSelfEnd` and it will align itself without the need to insert a view in the middle.

Please reopen with code defining your component if you're still stuck.

[2016-03-31 01:56] #521 closed

[2016-03-31 01:58] darknoon commented on #520
1. What state name did it log?
2. What method of hosting components are you using?

[2016-03-31 02:01] darknoon commented on #511
I ran into something like this myself today—one of the strategies is to override `- (id)targetForAction:(SEL)action withSender:(id)sender` and try to redirect its recursion back onto the component hierarchy. @adamjernst could probably say something more interesting about this issue.

If you have a minimal test app, that would be helpful in fixing this.

[2016-03-31 06:29] wy19901227 commented on #521
yeah, and must set the the horizontal stackView .alignSelf= CKStackLayoutAlignSelfStrech. the red layout child to .flexGrow = true.

[2016-03-31 08:20] wy19901227 opened #522 "Hi!,Have FlowLayout?"

[2016-03-31 10:45] avnerbarr opened #523 "How to access/update a components state from the components controller or not from within the components initialzier"
I am creating a state scope in the component .

Later on I need to change the components state scope from the controller and also need to access the state from with in the mountInContext method.

Each of those cases returns a "nil" state

[code]

[2016-03-31 12:52] majak commented on #522
Hey @wy19901227, it's not entirely clear what you are asking about. Could you try to rephrase your question?

If you are asking whether CK can be used with UICollectionViewFlowLayout the answer is yes. The example app does it, check it out.

[2016-03-31 12:56] wy19901227 commented on #522
what I say is CK has CKstacklayoutComponent  CKIntetlayoutComponent..So,Can have CKFlowLayoutComoonent which layout flow

发自我的 iPhone

[2016-03-31 13:10] majak commented on #522
I don't think we have such component yet. There was a pretty recent attempt at doing so here:
https://github.com/facebook/componentkit/pull/479
You could try asking its author whether he plans to work on it more. If not you could pick it up and drive it to finish.

In some cases you may not need this component and you could just let UICollectionViewFlowLayout do it for you, as suggested here:
http

[2016-03-31 13:10] #522 closed

[2016-03-31 16:31] adamjernst commented on #523
We intentionally don't expose the state in those places. If you want it, add a `@property` to your component, set it when creating the component, and read it in those places.

[code]

[2016-03-31 16:31] #523 closed

[2016-04-03 07:04] avnerbarr commented on #523
I was wondering on the difference between triggering a "re-render" (or "rebuild components") by setting a new model on a "CKHostingView":

[_ckHostingView setModel:newModel mode:synchronous]

as opposed to having a component perform "update state" on itself.

I figure that a different model will be passed to the component in the first case (containing the updated values to build the component with

[2016-04-03 18:53] avnerbarr commented on #520
It was "unmounted"

using

[hostingview updateModel:model mode:CKUpdateModeSynchronous];

[2016-04-03 19:17] avnerbarr opened #525 "[Question] - Is it acceptable to update a components state in its initialization method before the component is generated"
I need to generate an event "state changed" in one of my components.
The global state of the "props" is handled outside the scope of the component itself (or its controller).

Conceptually the "state changed" is calculated between the props passed into the component and the saved state scope of the component.
The "state change" in one component may mean that the current version of the component sh

[2016-04-03 19:22] avnerbarr commented on #525
I see this guy http://componentkit.org/docs/no-side-effects.html

But I don't see a way around updating global state not from within the component.

In order to do that I would need to duplicate the components internal state to another location and apply that before creating the component. Seems unnecessary and generates spaghetti,

[2016-04-04 03:58] adamjernst commented on #525
No, unfortunately this isn't valid. Ideally we'd have a better way to handle this, but right now we don't. Sorry.

[2016-04-04 03:58] #525 closed

[2016-04-04 08:42] avnerbarr commented on #511
I'll work on creating one.

To reproduce, basically you can create a linear layout with a child component containing a collection view (or subview thereof). In the child component's view implement the collection view data source using the CKComponentDataSource. (This is to accomplish a horizontal collection view inside a vertical collection view)

Something like:

[code]

and in the vertical compo

[2016-04-06 16:54] doanthehien1986 opened #527 "Could you guide me how to present a popover when user tap on a CKButtonComponent. I wonder if componentkit will allow us to retrieve a position"

[2016-04-06 16:57] doanthehien1986 opened #528 "Could you guide me how to present a popover when user taps on a CKButtonComponent?"

[2016-04-06 16:58] #527 closed

[2016-04-06 17:08] doanthehien1986 commented on #528
it's like Facebook app when user taps on 'down arrow' button on a feed view and it presents a popover.

[2016-04-07 02:40] adamjernst commented on #528
We usually use an "escape hatch" to present this with regular imperative (non-Component) code. You can use a `CKComponentController` to implement a `CKComponentAction` that will be called when the button is tapped, and from the component controller you can call `viewContext` on the `sender` parameter to the action to get the position to show the popover from.

The component controller gives you a

[2016-04-07 02:40] #528 closed

[2016-04-07 03:24] doanthehien1986 commented on #528
@adamjernst  Your solution sounds great. Thanks so much for your valuable guide.

[2016-04-07 08:29] tranngoclinh88 opened #530 "How can I implement component to play GIF like Facebook?"

[2016-04-07 15:42] adamjernst commented on #530
Wrap a UIView that downloads and then displays a GIF. (I'm not sure how to do that, but there must be some open source UIView for it.) Look at CKNetworkImageComponent and its corresponding view for an example of a non-GIF equivalent!

[2016-04-07 15:42] #530 closed

[2016-04-08 16:10] mapedd commented on #24
Any update regarding this problem?

[2016-04-10 08:49] avnerbarr opened #532 "Question - Proper way to communicate between controllers"
In cases where no "reload" is required of the component tree (Not updating model), is there a way to pass information between controllers without going through the hoops of creating a new model with the necessary information?

For instance I have a "pager" component (contains a horizontal stack layout whose view a `UIScrollView`) which contains "pages". Each page takes the entire width, (the scrol

[2016-04-13 10:02] fantengfei commented on #265
how to set addTarget:  ？

[2016-04-22 22:21] conradev commented on #390
This should be fixed by #534, all extension unsafe APIs are now marked as such.

[2016-04-22 22:22] conradev commented on #221
This is a dupe of #534

[2016-04-27 11:45] Bayonetta commented on #188
Thanks, I meet this problem as well. I want to import ComponentKit.h in pch file rather than import in every component files, but it looks like I can't do that way.

[2016-04-28 10:17] doanthehien1986 opened #541 "How could I scroll the collection view to bottom? I have tried to set the content offset to (0,MAX_FLOAT) or scrollToItemAtIndexPath:.... but it failed."

[2016-04-28 16:10] adamjernst commented on #541
Hm, this sounds like an iOS `UICollectionView` question. Not sure I can help with that.

[2016-04-28 16:10] #541 closed

[2016-04-28 17:36] doanthehien1986 commented on #541
it can be done easily with iOS collectionview. Cause my view is UICollectionView using componentkit to render UI. I'd like to learn how to archieve this with componentkit.

[2016-05-04 15:55] eczarny commented on #532
Could you instead notify the `PageComponent`s themselves and forward these messages to their respective component controllers?

Once a `PageComponent` scrolls into and out of view you can send messages to it like `-[PageComponent pageBecameVisible]` and `-[PageComponent pageResignedVisible]`. In response to these messages your `PageComponent`s can access their component controllers via `-[CKCompon

[2016-05-04 18:13] eczarny commented on #390
I think we're still missing an unsafe API in `CKComponentHierarchyDebugHelper`. We should mark `+[CKComponentHierarchyDebugHelper componentHierarchyDescription]` as unsafe as well.

[2016-05-04 19:11] eczarny commented on #221
Once the next version of ComponentKit is released we can update the README to reflect the support for Carthage.

[2016-05-04 19:11] #221 closed

[2016-05-05 17:50] adamjernst commented on #87
This is fixed with the transactional data source!

[2016-05-05 17:50] #87 closed

[2016-05-05 21:52] #390 closed

[2016-05-06 16:14] adamjernst commented on #520
Yikes, we've seen this a few times and haven't nailed it down. If you have an easy minimal repro, please let me know so I can investigate and fix.

[2016-05-06 16:14] #483 closed

[2016-05-06 20:44] eczarny commented on #292
@darknoon can this issue be closed?

[2016-05-07 02:53] #532 closed

[2016-05-17 08:28] matin0728 commented on #445
@semiwhale using this got help，尤其是中英混排的时候会比较好，不知道你有没有更好的办法:
.maximumNumberOfLines = lines,
.lineHeightMultiple = lineHeightMultiple,
.maximumLineHeight = ceilf((titleFont.pointSize + 1)*lineHeightMultiple),

[2016-05-18 07:20] danibachar opened #551 "Question about CKCollectionViewDataSource"
https://github.com/facebook/componentkit/blob/master/ComponentKit/DataSources/CKCollectionViewDataSource.h

Hey guys, i'm new to componentKit and I had a few wonderings on this file.
Why does the "CKCollectionViewDataSource" have a strong reference to the collectionView? if usually there is already a viewController or another object that has a strong reference to that collectionView?

`@property (

[2016-05-19 16:28] adamjernst commented on #453
Found the cause for this! PR coming.

[2016-05-22 07:19] danibachar opened #555 "collectionView Crash on enqueue (ComponentKit) dataSource"
Hey,

I'm using ComponentKit abilities on a tableView Cell, which means:
I have a viewController, which is in-charge of a classic iOS table view.
Each cell of the tableView has a collectionView and a dataSource (CKCollectionViewDataSource) controlled by ComponentKit.
Now i know it breaks the MVC concept, but when i started to code i was not too familiar with ComponentKit, so now if i want all my i

[2016-05-23 16:57] MDSilber commented on #555
@danibachar have you tried using CKCollectionViewTransactionalDataSource instead of CKComponentDataSource inside a UICollectionViewDataSource?

[2016-05-24 21:19] danibachar commented on #555
Hey, @MDSilber , and thanks for the response.
I tried that today, with no success (still got the same crash) , is there a certain way to have a collectionView "hosted" on a CKCompositeComponent?(it is a view after all)

I tried to use a static function like suggested in this [link](http://componentkit.org/docs/advanced-views.html)

Here is my code:

`static UICollectionView *innerCollectionView(vo

[2016-05-26 21:37] eczarny opened #558 "Remove CKComponentDataSource"
`CKComponentDataSource` has been replaced by `CKTransactionalComponentDataSource` and should be removed. Removing `CKCollectionViewDataSource` will likely require a few of steps:
- [x] Migrate the WildeGuess example app to `CKCollectionViewTransactionalDataSource`
- [x] Add `CKComponentDataSource` and friends into the internal repository so remaining migrations to `CKTransactionalComponentDataSour

[2016-05-26 22:06] eczarny opened #559 "Improve component appearance and disappearance events"
Appearance/disappearance events can be inconsistent and unreliable, likely due to the fact they are typically driven by the underlying `UICollectionView`. We should investigate better alternatives that satisfy the following properties:

1. Components that are added while a tree is onscreen should receive a `-[CKComponentController componentTreeWillAppear]` event
2. Componens that are removed while

[2016-05-26 22:19] eczarny opened #560 "Investigate improvements to better handle device rotation"
This investigation should include synchronous vs. asynchronous vs. incremental re-rendering on device rotation.

[2016-05-26 22:25] eczarny opened #561 "Investigate improving (or removing) support for memoization"
Support for memoization is a bit dubious at the moment. If it is something that should continue to be supported documentation must be added. There may also be opportunities to simplify the API as well.

On the other hand, if memoization is not something that should be supported it should be removed.

[2016-05-26 22:28] eczarny opened #562 "Investigate easier ways to generate new stateful components during layout"
Often times folks need to generate a component to help compute a layout. At the moment this isn't very easy to do with stateful components.

[2016-05-30 09:24] danibachar commented on #555
Hey again, I have another question come to mind while exploring this problem.

Is there a way to cancel an enqueueChangset/applyChangeset on one of the DataSources? (CKCollectionViewDataSource or CKCollectionViewTransactionalDataSource) or any way to sync between different dataSources?

In the case above I have several tableViewCells, which each one "holds" a collectionView (means, each collection

[2016-06-02 19:50] adamjernst opened #564 "Move scope collision detection to be at layout time"
We should check for scope collisions on the generated layout tree instead of at component scope creation time. This gives us better error messages, and allows you to construct the same component twice (which is valid so long as both don't make it into the final layout tree).

[2016-06-07 20:27] eczarny opened #568 "Introduce CK::chain to help make combining two vectors more concise"
Assuming `CK::chain` takes two vectors, A and B, B should appended to A iff A has children:

[code]

Would result in:

[code]

However, in this case:

[code]

Would result in:

[code]

[2016-06-07 20:37] MDSilber commented on #568
@eczarny I can take a stab at this. Might be a useful way to try some easy-ish C++ stuff.

[2016-06-07 21:37] MDSilber commented on #568
https://github.com/facebook/componentkit/pull/569

[2016-06-07 22:02] MDSilber opened #570 "Introduce helper to intersperse an object between objects in an array"
Given {A, B, C, D} and object X, return {A, X, B, X, C, X, D, X}.

This will be particularly useful for adding separators between components, for example

[2016-06-08 14:43] adamjernst commented on #568
Hmm actually the behavior you describe is kinda confusing if we're going to use the name `chain`. For example, in Python `chain` just means `A + B` not `A ? (A + B) : {}`.

We should come up with another name for that behavior, perhaps.

[2016-06-08 15:39] MDSilber commented on #568
That sounds good to me

[2016-06-08 19:28] #568 closed

[2016-06-08 19:38] MDSilber commented on #570
572

[2016-06-08 19:38] MDSilber commented on #570
#572

[2016-06-08 23:29] multinormal opened #574 "WildeGuess runs on Simulator but crashes on a device"
Hi. The WildeGuess project runs fine on the Simulator, but crashes with `dyld_fatal_error` when run on a device (tested on iPhone 6s and 5c running iOs 9.x). I am able to run developer builds of other apps on these devices. I checked out commit 4a353e49a6354937d3cb03846c634cceb131f08d.

Thanks.

[2016-06-09 03:54] tamnt2692 opened #575 "About ComponentViewManager, memory management"
Hi guy,
I have list view for 200 item, when i scroll from top to bottom, memory increase, add some view in reuse pool.

When i push new view controller, i want free some view in reuse pool.
Where I do that ?
Thanks

[2016-06-09 14:25] MDSilber commented on #555
Hey @danibachar sorry for the delayed response. As of now, there's no way to cancel an enqueued changeset in the transactional data source. However, if you want that feature, feel free to submit a pull request and we'd be happy to review it!

[2016-06-09 16:45] avnerbarr opened #576 "Animate frame size"
I'm trying to animate a CKButton size but not getting the desired result.

Basically I have a bar containing navigation buttons (Next , Previous, Done).

Initially I have 1 button which takes the full width of its container ("Next" button).

I then swap it for 2 small buttons on navigation ("Previous" and "Next" buttons).

Eventually I swap back to 1 wide button ("Done").

When the last swap occur

[2016-06-09 20:01] adamjernst commented on #575
We actually don't have a mechanism for that yet! If you have any proposals, pull requests are welcome… but it's a really hard problem.

[2016-06-09 20:01] #575 closed

[2016-06-14 08:55] bangquangvn commented on #575
Hi,
I'm not sure, But what happen if we iterate the 'pool' vector of all ViewReusePool instance (In ComponentViewManager.h), check whether it was unmounted or not (.ck_component == nil ?), then remove it from 'pool' if it was unmounted ?
I have tried that method in my application and it seems ok.

[2016-06-16 22:41] adamjernst commented on #576
Check out boundsAnimationFromPreviousComponent: — it's exactly what you're looking for!

[2016-06-16 22:41] #576 closed

[2016-06-19 08:59] avnerbarr commented on #576
Thanks Adam,

I tried it as well but didn't add the testing code above since I'm not using a collection view.

From the documentation seems that it was geared towards collection views

Am wondering if several "re-mounts" occur in succession before the initial animation completed, could that be a reason for the animation not to appear or be created?

[2016-06-21 08:11] IrixVol opened #579 "Scroll the collection view"
Hi. Thanks for the nice product ComponentKit!
1. How to scroll collection view to the certain IndexPath or bottom?
2. And how to stay on top when you add new records?

I tried:

[code]
and got error:
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'attempt to scroll to invalid index path: <NSIndexPath: 0x7b808e80>

This occurs because "enqueueChangeset"  works a

[2016-06-21 16:23] adamjernst commented on #579
Look at `componentDataSource:hasChangesOfTypes:changesetApplicator:ticker:`. It's inside the component collection view data source you're using, and is responsible for actually updating the collection view. After those changes it's safe to actually scroll to the new index path.

You might want to fork the collection view data source, add a delegate, and call that delegate when that method is invok

[2016-06-21 16:23] #579 closed

[2016-06-22 06:31] IrixVol commented on #579
Thanks Adam! I see with `componentDataSource:hasChangesOfTypes:changesetApplicator` I really can get the items insert completion. But when I create a class inherited from CKCollectionViewDataSource I get an error:

*** Terminating app due to uncaught exception `CKFinalClassViolationException, reason: CKCollectionViewDataSource is a final class and cannot be subclassed. MyCollectionViewDataSource`

[2016-06-22 20:01] franklsf95 opened #580 "Getting Started: no longer need to run pod install?"
I was following the getting started tutorial: http://componentkit.org/docs/getting-started.html. It says I need to run `pod install` before opening the project, but it seems unnecessary in this current master revision, as there is no `Podfile` there. Is this a mistake in the docs?

[2016-06-23 14:34] #580 closed

[2016-06-28 10:55] IrixVol opened #583 "CKLabelComponent sometimes is shown with wrong backgroundColor"
Good day!
Rarely I see small CKLabelComponent  is shown with wrong backgroundColor.

I tried to set explicitly background color for component and its parent,  but it doesn't work.
What be done to fix it?
Thank you in advance!

![likephoto](https://cloud.githubusercontent.com/assets/5245682/16412973/1db85308-3d40-11e6-80e6-56bc83681a62.png)
![likephotocode](https://cloud.githubusercontent.com/asset

[2016-07-06 09:05] avnerbarr opened #585 "Question - Best practice for error handling"
Since the component's root is updated through a class method and asynchronously in some cases, I am curious about the best way to handle errors while building a component hierarchy.

I came across a situation where the error only appears when returning the root component (one of the components can "throw" an error derived from an illegal model).

For instance in the case below:
[code]

[2016-07-06 15:34] adamjernst commented on #585
You could return a dummy empty component perhaps? I'm not sure quite what you're asking… do you want it to be a truly fatal error or not?

[2016-07-07 09:17] avnerbarr commented on #585
In my particular case, each component validates its input model , (for instance a component which loads a network image may be unreachable).

It makes sense in some cases that the component constructor fail and return a "nil" component (representing an error).

It wouldn't make sense to display an empty image component as it could render the UI unusable.

Ideally I could bail out of the `CKCompone

[2016-07-07 13:09] fabidona opened #586 "Question : How show UIAlertController from a CKComponentController ?"
Hi!
I started to play with this fantastic framework, great work guys!
I cant't figure out how show an UIAlertController after a CKButtonComponent tap.
I create a subclass of CKComponentController as the guide says to coupling my CKComponent subclass, but the controller derive from NSObject and not from UIViewController so the message presentViewController... is not present.
I'm in the right way?

[2016-07-07 14:13] adamjernst commented on #586
You'll need to pass the view controller into your component from above. Be sure to pass a weak reference, though (probably by sending it as a weak property on some object). Otherwise you'll set up a retain cycle.

[2016-07-07 14:13] #586 closed

[2016-07-07 14:28] fabidona commented on #586
thank you Adam, I'll try soon

[2016-07-14 15:52] taiber opened #590 "Accessibility Identifier should not be part of Accessibility Context"
Accessibility Identifier is, unlike its name, not an accessibility feature, but actually an automation feature used to identify elements on the screen. More context here: https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIAccessibilityIdentification_Protocol/

Passing accessibilityIdentifier in as part of accessibilityContext is limiting as it only gets set if accessibility is

[2016-07-14 21:54] eczarny opened #592 "Introduce CK_ASSERTIONS_ENABLED"
As mentioned in #588 we should add a macro called `CK_ASSERTIONS_ENABLED` that evaluates to true if, you guessed it, assertions are enabled.

[2016-07-15 01:01] #564 closed

[2016-07-15 03:26] eczarny commented on #585
@avnerbarr I think generally you would want to build the resilience further down the stack. In your example if the image cannot be downloaded from the network you would likely want to display some placeholder (perhaps with the potential to retry).

If you encounter a critical failure that cannot be recovered I'd say let the app crash. If it's truly irrecoverable there really isn't anything you can

[2016-07-15 03:30] eczarny commented on #574
@multinormal Could you provide a bit more information regarding the crash? Do you have a backtrace available?

[2016-07-15 03:30] eczarny commented on #570
Merged! Closing this out.

[2016-07-15 03:30] #570 closed

[2016-07-15 11:33] multinormal commented on #574
Apologies — I deleted the directory some time ago now. If this is not trivially reproducible then I assume it was caused by some weirdness on my development machine, though as far as I recall it was a stock XCode release (not a beta).

[2016-07-26 14:05] avnerbarr opened #597 "Question - How to create equally sized components"
Question regarding stack layouts:

I need 2 buttons in a horizontal stack layout to have equal widths constrained to the the wider of the 2.
In general. the width of a button is dictated by the text it contains and its attributes (font, padding, etc.).
In a case where a button has short text the button is "narrow" , and in a case where the text is long the button be wide.

I would like the short b

[2016-07-27 12:32] adamjernst commented on #597
Good question! As far as I know, flexbox can't achieve this. (I guess I might want to ask in a flexbox expert forum to be sure — maybe there is a way?)

The good news: you can write your own layout component by overriding `computeLayoutThatFits:` and doing exactly what you want. Give it a try.

[2016-07-27 12:32] #597 closed

[2016-08-02 21:59] #592 closed

[2016-08-16 15:43] eczarny opened #604 ".flexGrow/.flexShrink should be integer values that represent flex grow/flex shrink factors, not boolean values"
The Flexbox specification states that `flex-grow` and `flex-shrink` should be integer value (non-negative integers only) that set the flex grow factor and flex shrink factor, respectively. Currently `CKStackLayoutComponent` only support boolean values for these properties.

[2016-08-17 18:48] ocrickard commented on #583
Can you try to repro in an isolated test case please?

[2016-08-17 18:58] ocrickard commented on #583
Open a new issue with an isolated test case if this is still happening!

[2016-08-17 18:58] #583 closed

[2016-08-17 19:25] ocrickard commented on #590
Sounds like this is resolved now?

[2016-08-17 19:25] #590 closed

[2016-08-17 19:25] #585 closed

[2016-08-17 19:25] #574 closed

[2016-08-18 06:59] IrixVol opened #607 "How to work with a gif animation or video in ComponentKit? Does anyone have an example?"

[2016-08-20 12:11] ocrickard commented on #607
Since ComponentKit allows you to interact directly with UIViews, this is as easy as wrapping views that hold animated gifs or video players.

Check our docs for configuring views:

http://componentkit.org/docs/views.html
http://componentkit.org/docs/advanced-views.html

One thing I will note for complex views like gifs and videos is that the views themselves tend to be very heavy, and need to be r

[2016-08-20 12:11] #607 closed

[2016-08-20 12:17] ocrickard commented on #555
One thing that stands out to me is that if you're using collection views inside cells, then you may need to use https://github.com/facebook/componentkit/blob/master/ComponentKit/StatefulViews/CKStatefulViewComponentController.h to wrap your collection view.

Since this issue is old I'm going to close out, please create a new issue if you're still hitting this.

[2016-08-20 12:17] #555 closed

[2016-08-20 12:19] ocrickard commented on #551
It's quite acceptable to have two objects have strong refs to the same object. What we would want to avoid is a *cycle* in the references, which could cause a leak.

[2016-08-20 12:19] #551 closed

[2016-08-20 12:23] ocrickard commented on #511
This is a really interesting problem. I agree with @darknoon that you can probably re-target the responder chain, but that's not great.

If you have the minimal test app, then that would be greatly appreciated.

[2016-08-20 12:26] ocrickard commented on #504
So there are 3 clear parts here:

1. controller.component is nil before mount.
2. controller.component is nil after dealloc of component.
3. controller.component may not be the most recent component.

1 is resolved by my PR, but 2 & 3 remains. I'm targeting 0.15 for 1, 2 for 0.16, and 3 for 0.20

[2016-08-20 12:28] ocrickard commented on #315
Closing this since it's an issue with the legacy data sources. Check if this is still reproing in the transactional datasources, and re-file if so!

[2016-08-20 12:28] #315 closed

[2016-08-20 12:33] ocrickard commented on #333
Since this is a year old at this point, and we didn't get to a conclusion here, Im gonna close this. We are focusing on improving our conformance with the flexbox standard, and this is possible through workarounds like custom layout components (though kinda ugly). We're open to more thoughts here, but conformance with flexbox is important to us, so looking forward to any more PR's on this topic th

[2016-08-20 12:33] #333 closed

[2016-08-20 12:38] #325 closed

[2016-08-20 12:40] ocrickard commented on #453
@adamjernst I'm assuming that this was fixed in the refactor of the hosting view?

[2016-08-20 12:40] #453 closed

[2016-08-20 12:41] ocrickard commented on #427
This is really old now, sorry no one answered you. If anyone is still running into this, please re-file an issue with a minimal repro project.

[2016-08-20 12:41] #427 closed

[2016-08-20 12:43] ocrickard commented on #399
Seems this was answered in #403

[2016-08-20 12:43] #399 closed

[2016-08-20 12:48] #344 closed

[2016-08-20 14:58] ocrickard commented on #240
This is covered in our documentation and example project.

[2016-08-20 14:58] #240 closed

[2016-08-20 15:01] ocrickard commented on #226
@ryanrhee you were talking about doing this internally. Let's maybe publish a public RFC on the flux architecture in ComponentKit?

[2016-08-20 15:08] ocrickard commented on #327
Since there was no resolution here, closing. We don't run into this internally. feel free to open a new issue if you're still hitting it and I promise it will be dealt with more quickly than this one was.

[2016-08-20 15:08] #327 closed

[2016-08-20 15:09] ocrickard commented on #220
There are now several open source apps built with component kit, in addition to our existing docs and examples. Closing this out.

[2016-08-20 15:09] #220 closed

[2016-08-20 15:10] ocrickard commented on #215
I *believe* this would be achieved by moving to css-layout, which is something we're considering.

[2016-08-20 15:11] ocrickard commented on #153
Ultimately this will also be resolved by https://github.com/facebook/componentkit/pull/373. Closing this out.

[2016-08-20 15:11] #153 closed

[2016-08-20 15:15] ocrickard commented on #239
Your explanations of these objects are correct. Seems the only one that is unclear is scope, which we have documentation here:

http://componentkit.org/docs/scopes.html

Here's an excerpt from an internal doc I wrote on scopes. We'll be publishing more on these subjects in the near future.

## Scopes

Cool, so a CKComponentController is the mutable partner for a CKComponent that manages persistent

[2016-08-20 15:15] #239 closed

[2016-08-20 15:16] ocrickard commented on #112
@jamhung did you find a resolution to this issue?

[2016-08-20 15:17] ocrickard commented on #112
Closing as this is very old. Please re-open a new issue if this reproduces still.

[2016-08-20 15:17] #112 closed

[2016-08-20 15:20] ocrickard commented on #140
This is a serious issue with ComponentKit, and something that I think we should resolve soon.

[2016-08-20 15:21] ocrickard commented on #342
Let's try to get this fixed in the next tagged release.

[2016-08-20 15:22] #98 closed

[2016-08-20 15:23] ocrickard commented on #51
With the open sourcing of stateful view components you should be able to build this now. It's what we use internally for text views.

[2016-08-20 15:23] #51 closed

[2016-08-20 15:24] ocrickard commented on #24
I think this is likely now a non-goal for ComponentKit. I think we should double-down on collection views, and would even like to go so far as suggesting we deprecate any TableView specific logic in the core framework.

[2016-08-20 15:24] #24 closed

[2016-08-20 15:25] ocrickard commented on #15
This should have been resolved by the transactional datasource, right? Let's close this.

[2016-08-20 15:25] #15 closed

[2016-08-20 15:26] ocrickard commented on #60
This is not really componentkit-specific. You should handle the large number of items in the same way you would with any other collection view. Ensure batching of insertions, and you're probably going to be OK.

[2016-08-20 15:26] #60 closed

[2016-08-20 15:30] mosesoak opened #608 "White flashing in Multi-Photo Detail ScrollView"
Seen in: FB  iOS App v62.0

Note: I've reported this through the app and received a "we are ignoring your request" type of form response. Posting my 2nd attempt here in hopes that the bug can be handled by this team, thanks!

Repro:

1. Navigate to News Feed
2. Locate a multi-photo mosaic post from a Facebook member - tap on first photo to enter detail view
2. Scroll down in detail view

Expected:

[2016-08-20 17:04] ocrickard commented on #608
Thank you for reporting the issue, but this is not the place for product feedback on Facebook. If you believe a bug is due to the ComponentKit framework, please attempt to find a minimal repro with an example project and file an issue.

[2016-08-20 17:04] #608 closed

[2016-08-22 16:53] leavez opened #609 "Carthage : Dependency has no shared schemes"
Using carthage to build a framework with Xcode 7.3, I got an error:
[code]
The cartfile is
[code]

[2016-08-22 18:40] ocrickard commented on #609
@eczarny do you have any idea what's going on here? I didn't see the carthage integration land, and have zero idea what's going on here.

[2016-08-23 00:30] eczarny commented on #609
@ocrickard Looks like a potential misconfiguration in the Xcode project. I can take a look.

@leavez are you building an iOS target?

[2016-08-23 02:24] hitner opened #611 ""too many update animations on one view - limit is 31 in flight at a time crash" problem"
I use componentkit 0.14 by pod in my project. It got random crash in IOS 7.1/7.1.2 , in small probability. Can anyone help me?

too many update animations on one view - limit is 31 in flight at a time (<CKCollectionViewDataSourceCell: 0x1290b86f0; baseClass = UICollectionViewCell; frame = (0 0; 320 366); layer = <CALayer: 0x170e27e00>>)
(null)
(
	0   CoreFoundation                      0x000000018

[2016-08-23 03:45] leavez commented on #609
Yes, for iOS

[2016-08-23 17:48] ocrickard commented on #611
Nothing obviously wrong in that trace. Can you provide more context on what animations you're doing with CK?

[2016-08-23 22:09] eczarny commented on #609
Hm. This is a bit strange since all relevant schemes are being shared. @leavez can you provide a minimal sample app the exhibits the problem? That would be really helpful.

[2016-08-24 03:46] leavez commented on #609
[code]

[2016-08-24 15:01] eczarny commented on #609
@leavez what happens if you run this command instead?

[code]

[2016-08-24 15:02] eczarny commented on #609
I think the issue here is that Carthage is trying to build the ComponentKit tvOS scheme and that may be the scheme that isn't shared. Confirming.

[2016-08-24 15:51] leavez commented on #609
not work
[code]

[2016-08-24 17:01] eczarny commented on #609
Okay, I think we just need to cut a new release to fix this. Problem appears to be due to 0.14 being released prior to Carthage support being added.

[2016-08-24 18:32] ocrickard commented on #611
Closing since we don't have enough information to help you here. Please re-file if you still are running into this, and try to reproduce the problem in an isolated project.

[2016-08-24 18:32] #611 closed

[2016-08-26 11:56] ocrickard opened #619 "Stack layout may violate child layout constraints"
Here is a minimal test case:

[code]

<img width="300" alt="testnestedstacklayoutstretchdoesnotviolatewidth 2x" src="https://cloud.githubusercontent.com/assets/857665/18004490/49b2a350-6b62-11e6-84a8-5b2680ecb661.png">

The problem here is that the stack layout is being told to stretch, and that means that it provides a layout constraint of min = 100 and max = 100 to its child. That child then cla

[2016-08-26 12:04] ocrickard commented on #619
https://github.com/facebook/componentkit/pull/620

[2016-08-26 17:00] jaltreuter opened #621 "Unmount doesn't call attribute unapplicator"
We're not calling the unapplicator in `[CKComponent unmount]`, despite the [comment in CKComponentInternal which states that as its contract](https://github.com/facebook/componentkit/blob/master/ComponentKit/Core/CKComponentInternal.h#L48). The only time I can find us calling unapplicator() is actually when applying a new set of attributes.

[2016-08-26 17:01] jaltreuter commented on #621
Here's a unit test that currently fails:

[code]

[2016-08-26 18:45] ocrickard commented on #621
Yep, so sadly it's the docs on that internal header that are incorrect:

https://github.com/facebook/componentkit/blob/master/ComponentKit/Core/CKComponentInternal.h#L48

It took me awhile to remember, but I realized today that the unapplicator is actually called only when the view leaves the reuse pool:

https://github.com/facebook/componentkit/blob/master/ComponentKit/Core/CKComponentViewAttribu

[2016-08-26 19:53] jaltreuter opened #622 "Gesture recognizers can fire on unmounted views"
When a UILongPressGestureRecognizer is registered on a component's view, since the gesture isn't instantaneous it's possible for the component to be unmounted mid-gesture. Then, when I lift my finger, [CKComponentGestureActionForwarder](https://github.com/facebook/componentkit/blob/master/ComponentKit/Utilities/CKComponentGestureActions.mm#L182) fires a component action. `recognizer.view` is a vie

[2016-08-26 20:01] jaltreuter commented on #621
I guess that makes sense from a performance perspective since unmount can get called frequently, although I'd be curious to see if there are other uses of the unapplicator block where it's expected to be called on unmount as opposed to on the destruction of the view.  I opened a [new issue for the specific case of gesture recognition](https://github.com/facebook/componentkit/issues/622) and would

[2016-08-26 22:56] ocrickard commented on #621
@adamjernst I'd love to hear your thoughts on if it would be possible to run the unapplicator earlier. Have we conducted any tests to see what the perf implications would be?

[2016-08-26 23:07] adamjernst commented on #621
As far as I know we don't have any explicit performance tests, no.

However note that view attributes have a lifetime that is very different than components...

[2016-08-27 03:01] eczarny commented on #609
I ran into some trouble releasing 0.14.1 earlier today due to build issues with CocoaPods. I'll try again on Monday.

[2016-08-28 13:06] zackshapiro commented on #22
Any updates on Swift support for ComponentKit?

[2016-08-28 16:10] eczarny commented on #22
@zackshapiro I believe much of what @darknoon talks about from his comment in 2015 still applies here, unfortunately. Last I checked Swift still doesn't work with Objective-C++ and implementing a pure Objective-C wrapper API would take considerable effort.

/cc @ocrickard

[2016-08-30 00:47] eczarny commented on #609
Fixed!

[2016-08-30 00:47] #609 closed

[2016-09-02 12:00] adamjernst opened #634 "Running `carthage bootstrap` fails"
Fresh checkout:

[code]

[2016-09-02 16:05] eczarny commented on #634
@adamjernst you need an AppleTV simulator installed.

[2016-09-07 02:26] isRaining opened #639 "Run Examples>WildeGuess fail"
dyld: Library not loaded: /Library/Frameworks/ComponentKit.framework/ComponentKit
  Referenced from: /var/containers/Bundle/Application/56FC64CE-7F14-4BB0-B510-8C9B342049FE/WildeGuess.app/WildeGuess
  Reason: image not found

[2016-09-07 02:37] eczarny commented on #639
@isRaining how are you building the example app? Are you opening the `WildeGuess.xcodeproj` Xcode project and running in an iPhone simulator?

[2016-09-07 02:48] isRaining commented on #639
no iPhone simulator，run my real iPhone

[2016-09-07 02:49] isRaining commented on #639
Use Xcode Version 7.3.1 (7D1014)

and open Examples/WildeGuess/WildeGuess.xcodeproj

![a](http://img.blog.csdn.net/20160907104745021)

[2016-09-07 02:58] eczarny commented on #639
Does WildeGuess work in the simulator? Why do you need to run the example app on device?

[2016-09-07 02:58] eczarny commented on #634
@adamjernst does that command work once you have an AppleTV simulator installed?

[2016-09-07 03:29] ryanrhee commented on #226
@ocrickard sorry I missed this! Yeah, I think that'd be a good start, I'll write something up some time this month or so.

[2016-09-07 04:03] isRaining commented on #639
Thanks!

Run simulator success

[2016-09-07 04:10] #639 closed

[2016-09-07 19:23] #634 closed

[2016-09-07 19:23] adamjernst commented on #634
heh duh

[2016-09-07 19:31] ocrickard opened #640 "CKComponentScopeHandle can create CKComponentController if nil _acquiredComponent"
If you declare a CKComponentScope(self), but then early-return nil from inside your +new method, then we can create a CKComponentController in the scope handle. This shouldn't really cause any harm, but instead it should just have a nil component controller.

[2016-09-09 14:48] #640 closed

[2016-09-20 03:00] yupengyang commented on #583
I also run into this issue. But it's random, and cannot found an isolated test case

[2016-09-21 07:39] esam091 opened #651 "[Question] Creating Scrollable Component"
I'm considering making something like this:

[code]

The behavior I expect is the created UIScrollView will set the content width equal to the contained component's width. In order to achieve this, I resized the content view in the component's controller like this:

[code]

It works just as I expected for now, but I do have a few questions:
1. Is there anything wrong with using contained component

[2016-09-21 21:37] #604 closed

[2016-09-21 21:38] eczarny commented on #619
#620 has been merged. Closing this out.

[2016-09-21 21:38] #619 closed

[2016-09-22 01:00] eczarny commented on #520
I believe #623 actually resolves this. Closing.

[2016-09-22 01:00] #520 closed

[2016-09-24 21:44] eczarny commented on #558
Working on a pull request that migrates WildeGuess to `CKCollectionViewTransactionalDataSource`.

[2016-09-26 18:06] ocrickard commented on #651
Ryan would you be interested in tackling this question?

[2016-09-26 18:08] ocrickard opened #655 "CKCompositeComponent returns nil with non-empty view configuration"
CKCompositeComponent can return nil with a nil component, even though a non-empty view configuration could be provided. In this case it feels like we should check if the view configuration is empty before returning nil. If you provide `{[UIView class], {{@selector(setBackgroundColor:), [UIColor redColor}}}`, then we shouldn't just return a nil component.

[2016-09-26 18:27] adamjernst commented on #655
Maybe, I'm kinda iffy on the special-case-y-ness of that though.

¯\_(ツ)_/¯

Not sure what we *should* do!

[2016-09-26 18:35] ocrickard commented on #655
Sure, though that solution I believe is the one that you proposed to me initially when we talked about this.

The alternative is to remove the early return. I would argue that is the most correct behavior, since it will allow creation of a component controller even if you have no child component. This has bitten us recently in at least 3 locations internally.

[2016-09-26 18:36] adamjernst commented on #655
Oh definitely agree, I'm never consistent in my opinions though :P

[2016-09-29 18:34] esam091 opened #656 "Using ComponentKit for the Whole Page"
From what I've seen so far, it seems that ComponentKit is only used for use cases similar to News Feed: an infinite list of items in which every cell has different layouts. Do you guys at Facebook use ComponentKit anywhere else in the app? As our app's design is getting more and more complex, using interface builder and auto layout is becoming more painful, so we're trying to find some alternative

[2016-10-05 15:28] IrixVol opened #662 "ImageDownloader places images in other cells"

[2016-10-06 10:06] #662 closed

[2016-10-08 02:17] ryanrhee commented on #651
@esam091 sorry for the lack of communication, we promise we're not ignoring your question :) sit tight; we'll get you an answer soon!

[2016-10-17 20:21] ryanrhee commented on #651
@esam091: Discussed this w/ @ocrickard a bit. I think your approach is pretty canonical for computations that aren't related to layout, but since your example is specifically about layout, we can do better.

ComponentKit already provides a way to do layout: you can enhancement-override `-computeLayoutThatFits:` and figure out your size in there. This is mentioned [in the docs](http://componentkit.

[2016-10-21 16:31] esam091 commented on #651
Thanks a lot for answering @ryanrhee, but I'm encountering a problem right now. I can't find the parent size for the layout computation, because the horizontal scroll view's height depends on the parent, not explicitly defined. I've tried using the `CKComponentViewAttribute`'s applicator function, but it seems that the scroll view's size won't be defined until layout phase. That's the reason why I

[2016-10-21 19:59] ryanrhee commented on #651
Can you explain in a bit more detail what you mean by that? In particular, what, exactly, is "not explicitly defined"?

[2016-10-22 07:58] matin0728 commented on #656
Try CKComponentHostingView, which can be used as collection view's header/footer view.

[2016-10-22 08:04] matin0728 opened #668 "animationsFromPreviousComponent is not called after update state"
The "scaleToAppear" animation for popover view in demo application is not visible.

[2016-10-22 14:21] esam091 commented on #651
I mean if the height is explicitly defined in points like this, the content size can be calculated using the size range from (0, height) to (infinity, height) like the sample code from the first post.
[code]

But what if the height is defined like this:
[code]

I don't see how I can calculate the size range in the component creation phase.

[2016-10-24 03:05] bigbangvn opened #669 "Potential race condition in function registerAnnounceableEventsForController of CKComponentScopeRoot ?"
[code]

Top stack of my crash on Crashlytics:

"Crashed: org.componentkit.component-preparation-queue.concurrent
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000001a1b48af769
-[CKComponentScopeRoot registerAnnounceableEventsForController:]
+[CKComponentScopeFrame childPairForPair:newRoot:componentClass:identifier:initialStateCreator:stateUpdates:]
CKComponentScope::CKComponentScope(objc_class_, objc_obje

[2016-10-24 13:26] ocrickard commented on #669
I assume your crash reporting system reports *all* threads? Can you please provide the raw crash stack? Alone this is difficult to debug. We are not seeing this crash internally.

[2016-10-24 17:46] ocrickard commented on #668
@eczarny is this due to moving the demo project to the transactional datasource? I remember hearing that we don't support animation transitions with this datasource.

[2016-10-24 17:47] ocrickard commented on #656
Yep, we actually use ComponentKit for many full-screen interfaces in the main FB app. It's absolutely possible to use ComponentKit to layout the whole view controller's page. We do need some more blog posts/documentation on how to do this though.

Hosting view is a good place to start.

Let me know if you have any more specific questions!

[2016-10-24 17:47] #656 closed

[2016-10-24 18:36] ryanrhee commented on #651
@esam091 I see.

Can you see if you can override

[code]

instead and use those parameters to figure out the height there?

[2016-10-25 20:23] eczarny commented on #668
I'll check.

[2016-10-25 21:07] eczarny commented on #668
#637 fixes this issue.

[2016-10-25 21:56] #668 closed

[2016-10-27 18:24] esam091 commented on #656
Thanks, now I have more confidence to do this approach.

One thing I'm curious about, is how do you guys iterate the UI development? On my code base, it took about 45 seconds from pressing run button until changes appear on screen, and pretty sure this could take much longer for you guys. The iteration time is much slower compared to React Native, and it can be painful to wait if you're building c

[2016-10-27 18:39] esam091 commented on #651
Haven't had the time to try for now, but looking at the `CKComponent`'s [implementation](https://github.com/facebook/componentkit/blob/a29b25e1d2cb234329ab1c4f13016f41da103eab/ComponentKit/Core/CKComponent.mm#L240-L243), I think it's possible to return an entirely new component with computed content size rather than the current one.

[code]

Seems like a hack to me, but if you think there'll be no

[2016-10-31 04:00] bigbangvn commented on #669
Hi !
Yes, i have all threads reports of the crash. But i still can't reproduce this problem.

[com.bangalo_issue_494326_crash_e70ea115db464021bb64d15162707820.txt](https://github.com/facebook/componentkit/files/561077/com.bangalo_issue_494326_crash_e70ea115db464021bb64d15162707820.txt)

[2016-11-02 15:09] avnerbarr opened #673 "Question - Insetting a CKTextComponent text"
Is there a way to add content insets to a `CKTextComponent` (Without wrapping it with an inset component)?

I'm doing something similar to a `CKButtonComponent` by setting contentEdgeInsets in the attributes section of the button:
[code]

[2016-11-02 19:15] eczarny commented on #673
@avnerbarr any particular reason why you wouldn't want to wrap the text component in an inset component?

[2016-11-02 19:16] eczarny commented on #673
/cc @ocrickard who knows a lot more about `CKTextComponent` than I do.

[2016-11-03 15:12] avnerbarr commented on #673
Because I want to set background colors , border colors etc on the view and wouldn't be convenient to do on the inset component.

[2016-11-09 10:02] aorekhov opened #677 "How can I assign accessibility labels for the CKLabelComponent?"
Hello everyone

I have the following code fragment. But in app this element will have name equals to his label.

How can I assign accessibilityLabel for this kind of element?

                            newWithLabelAttributes:{
                                .string = [status likeCounter],
                                .font = [UIFont slf_fontMuseoSansOfSize:12 weight:MuseoSansFontWeight300],

[2016-11-18 16:18] ocrickard commented on #677
So with CKLabelComponent we tried to keep the API surface-area to a minimum, so we default you to using the string in the label as the accessibility string. We'd be open to a PR if you'd like to add the accessibility label as a parameter in the options struct.

Alternatively you can always use CKTextComponent and set the accessibility context on its option struct.

[2016-11-18 16:18] #677 closed

[2016-11-18 16:22] ocrickard commented on #673
Yeah, sadly we don't expose a way to do this directly. We'd be open to a PR that adds lineFragmentPadding configuration to the options struct, though that's actually kind of different from your question here.

For now, you have to use an inset component.

[2016-11-18 16:22] #673 closed

[2016-12-06 00:55] psk239 commented on #188
For anyone else who is having problems, I had to actually scrap my entire project and create a brand new one with a fresh Podfile and then Xcode 8.1 was able to find `#import <algorithm>` just fine

[2016-12-08 01:19] psk239 commented on #369
@gudjao Have you had luck pulling this off? I've been trying to wrap a `CKStatefulViewComponent` with a `AVPlayerLayer` but I can't figure out how to trigger play/pause if the user taps on the `view`

[2016-12-24 08:12] conradev commented on #558
🎉

[2016-12-24 08:14] conradev commented on #561
Related: #678 and #688

[2017-01-03 14:50] avnerbarr opened #711 "componentHostingViewDidInvalidateSize not called"
Not totally clear under which circumstances this delegate method is called by the hosting view.

I have a simple wrapper view around a CKComponentHostingView. I've never gotten a callback for that method.

[code]

[2017-01-03 15:02] avnerbarr opened #712 "Mixing component based views with "regular" view in a UITableview"
I have existing table view / table view cells etc. using plain UIView layout.

I'm now at the point where I need to add new UI (cells) to the existing list and would like to leverage components for that.

I've read the "dive deeper" documentation regarding UITableView et.al  but I'm not clear how I can use my existing table view datasource in tandem with the CKComponentDataSource.

Obviously the i

[2017-01-03 15:06] avnerbarr opened #713 "Question - what is the difference between sync and async mode in CKComponentHostingView updateModel"
I'm assuming that the layout calculations are always performed in background threads (Is this correct?) and that sync pertains to "blocking" the caller until layout has been performed.

Is this correct? I couldn't verify for sure. I am not getting callbacks  for CKComponentHostingViewDelegate in any case .

(Also in reference to issue: https://github.com/facebook/componentkit/issues/711)

[2017-01-05 05:19] conradev commented on #713
Synchronous mode means that the layout is calculated and subsequently mounted on the main thread "immediately" (technically I think it may happen in the next tick of the run loop), and asynchronous mode means the layout is calculated on a background thread and then mounted on the main thread upon completion.

I'm not sure why #711 would be happening, but if you look at the code path for `-[CKCompo

[2017-01-05 05:21] conradev commented on #558
What is the status of this?

[2017-01-05 08:57] avnerbarr commented on #713
Does the sync mode block the main thread for calculatung? What would be the advantage of using sync mode?

[2017-01-05 22:32] eczarny commented on #558
Still on the roadmap but not high priority. I'm hoping to getting around to wrapping this up over the coming weeks.

[2017-01-05 22:39] eczarny commented on #713
@conradev is correct. The transactional data source does in fact compute the layout and mount the component hierarchy on the main thread in the next tick of the runloop.

It does, just not immediately when issuing a state update synchronously (due to the work being done on the next tick of the runloop, as mentioned above).

Usually when you what to issue a state update in response to a user intera

[2017-01-05 22:40] eczarny commented on #713
Closing this issue out for now. @avnerbarr please reopen if your question hasn't been answered. I'll follow up on #711 separately.

[2017-01-05 22:40] #713 closed

[2017-01-05 22:51] eczarny commented on #711
Hm. It's possible that this delegate method will not be called during the component hosting view's initial synchronous update. Check out this condition:

https://github.com/facebook/componentkit/blob/fcc151295e05ca06413e57d8b365c360e6d0b925/ComponentKit/HostingView/CKComponentHostingView.mm#L167-L169

@avnerbarr can you provide a bit more information? I'm curious when you set the component on this

[2017-01-06 07:39] avnerbarr commented on #711
In some cases it would be in the same runloop. I can dispatch to the next cycle if it will resolve the issue 👍

Ill update if necessary

[2017-01-08 12:07] avnerbarr opened #716 "CKComponentAction with parameters"
Is it possible to create a CKComponentAction (on a CKButtonComponent for instance) that will accept parameters. For instance if I want a lightweight component that can open a deeplink I don't need the overhead of creating a controller that will respond to the action and inturn open a deeplink.

An example could be
NSURL *deeplink = ....
CKButtonComponent *button  = [self makeButton.... deeplinkURL

[2017-01-09 07:39] conradev commented on #716
Yes, you can trampoline the action on the component itself, with no need for a controller:

[code]

[code]

Let me know if that answers your question!

[2017-01-09 08:38] avnerbarr commented on #716
Thanks Conrad,

I've been using a very similar pattern,  but what I wanted is to eliminate the need for creating a wrapper component in the case where the only modification is to pass a parameter up the responder chain (automatically).

From my understanding, conceptually the responder chain for an action i.e. "openURL" is something like:

`action->component->componentController->componentViewInst

[2017-01-09 09:00] conradev commented on #716
`CKTypedComponentAction` landed in November, which doesn't put it in any current release yet. Not sure when the next one is! The new action API actually eliminates the need for the responder chain.

Even with the new API, It is not possible to configure a constant parameter (or capture any other context) when creating a `CKComponentAction`, like you would like to do.

[2017-01-13 06:34] wuwen1030 opened #722 "ComponentKit.podspec lint failed"
[code]
![image](https://cloud.githubusercontent.com/assets/3377567/21920638/668adc82-d99d-11e6-8957-fcb310ad1ef4.png)

[2017-01-15 14:59] razvanpaul opened #725 "CKCompositeComponent don't update siblings"
I have a CKComponentProvider which generates a **SCPostComponent**.
This component is basically a **CKStackLayoutComponent** which wraps the following:

- SCHeaderComponent
- SCVideoStatefulViewComponent
- SCFooterComponent

In the footer part, I have a "Like" button. When I tap it, I call:

` [component updateState: ^{} mode: CKUpdateModeSynchronous];`

But this also triggers an update on the vid

[2017-01-16 18:26] razvanpaul opened #726 "Scroll annoying fade animation"
I have a collection view and an infinity scroll implemented. Everything is well, but I encounter this issue: when new data is coming and I make some inserts, I see a fade/ crossfade animation which flickers the collection view for something like 0.5-1 seconds.

I've tried the solution proposed in #315 it does not work. Can you tell me what can I do please to disable the animation?

[2017-01-16 20:26] conradev commented on #725
This should have been fixed by #469, are you using `CKCollectionViewTransactionalDataSource`?

[2017-01-16 20:41] razvanpaul commented on #726
UPDATE

[Here](https://www.dropbox.com/s/7o4mqkonfezq5ns/recording2.mov?dl=0) is a recording from the issue I encountered.

[2017-01-17 02:43] conradev commented on #726
The proper solution proposed in #315 is to use `CKCollectionViewTransactionalDataSource`, have you tried that?

[2017-01-17 08:20] razvanpaul commented on #725
@conradev Thanks for the tip, I will try to implement it and close the issue if it will be solved.

[2017-01-17 08:20] razvanpaul commented on #726
@conradev Thanks for the tip, I will try to implement it and close the issue if it will be solved.

[2017-01-17 08:28] conradev commented on #726
You can see how to do this best in the `WildeGuess` example code: https://github.com/facebook/componentkit/blob/4129a7efa77124a7a8704ebf5079c42917906659/Examples/WildeGuess/WildeGuess/WildeGuessCollectionViewController.mm#L99-L111

[2017-01-17 08:31] conradev commented on #558
We should perhaps add a bullet point to update the documentation (because of #725, #726)

[2017-01-17 08:32] razvanpaul commented on #726
@conradev I've tried to use exactly those methods, but they aren't defined in the `CKCollectionViewTransactionalDataSource`
I get the **No visible @interface for 'CKCollectionViewTransactionalDataSource' declares the selector 'announceWillDisplayCell:** error

I'm using the last version, 0.15.

[2017-01-17 08:38] conradev commented on #726
Ah yes, those were introduced recently (after 0.15). You actually don't need to call those methods unless you rely on `-[CKComponentController componentTreeWillAppear]`/`-[CKComponentController componentTreeDidDisappear]`, so you should be fine without that code!

[2017-01-17 08:48] razvanpaul commented on #726
Thank you very much, now it worked and I'm using `CKCollectionViewTransactionalDataSource ` . Unfortunately, neither this bug nor #725 it's resolved. I encounter the same annoying fade while scrolling and the video sibling component gets remounted when I call `updateState`.

[2017-01-17 20:30] razvanpaul opened #729 "CKStatefulViewComponentController AVPlayer KVO remove observer"
Hello

I encounter a big issue using the `CKStatefulViewComponentController` in coalition with the AVPlayer class and the KVO system of iOS. Basically, the Component Kit does not allow me to remove the observer (which is the controller). I have the following function:

[code]
I'm using the above function before any `addObserver` call, in the `dealloc` function of both the component and the control

[2017-01-18 01:20] ryanrhee commented on #729
Hey @razvanpaul , thanks for reporting.

Did you verify that `component.nextResponder` when adding the observer and `self` in `-removePlayerStatusNotification` are the same object (i.e. have the same address)?

[2017-01-18 05:43] razvanpaul commented on #729
They are the same object, but I put that there so I am sure that every possible observer is removed. Anyway, it's a catch clause, so the app won't crash here, but after something is deallocated by the ComponentKit and there is no callback about it.

Meanwhile, I've tried to move the property from the component to the stateful view, but the bug persists.

[2017-01-18 07:27] razvanpaul commented on #729
UPDATE

I continued to debug the issue by enabling some NSZombies. Apparently, as far as I can see right now, there is a serious bug with the `CKCollectionViewTransactionalDataSource` (as a matter of fact, this bug appeared only after I started using it).
As I said in the initial post, this bug occurred only if I presented a view controller and went back. It seems that when I do the following (whi

[2017-01-18 14:11] razvanpaul commented on #729
Furthermore, if I remove the following line:

[code]

I don't encounter any bug anymore. Unfortunately, I have another bug now: the update changeset isn't working the first time I go the presented view controller, make some changes and dismiss. Really strange, only the first time.

[2017-01-18 17:29] razvanpaul commented on #725
I'm passing the same props to the all of the components mentioned above. Is that the reason why are all updated when I call `updateState`?

[2017-01-18 20:31] ryanrhee commented on #729
@razvanpaul hmm. can you create a failing test case in the `CKCollectionViewTransactionalDataSource` test suite? It'll make fixing the issue much easier.

[2017-01-18 20:38] ocrickard commented on #726
If you're still seeing this issue with the transactional datasource, we need a repro case to continue. Please try to repro this in the WildeGuess example project and we can try to help you debug.

[2017-01-18 20:41] ocrickard commented on #725
Hmm, this sounds like it's behaving as intended. The entire component tree is updated at once unless you have implemented memoization. If you call updateState: then your component provider will *always* generate a new component. This is the design of the framework.

If the problem is your flicker, there are other ways to solve that.

Closing, since I don't believe this is a framework bug.

[2017-01-18 20:41] #725 closed

[2017-01-18 20:46] ocrickard commented on #716
Argh, we've been meaning to do a new version for months. I'll cut one this week. We use master internally.

Re capturing parameters: we don't allow strongly capturing vars, and sadly this is intentional. It disallows actions to form retain cycles since if we allowed capture, inevitably a parent would pass down something that would form a cycle.

There has been discussion of allowing blocks to be u

[2017-01-18 20:46] #716 closed

[2017-01-18 20:47] ocrickard commented on #722
Ugh, more issues with cocoapods. @eczarny mind taking a look at this at some point?

[2017-01-19 02:43] wuwen1030 commented on #722
It turned out that this is an issue of cocoapods (>= 1.0.0).

[2017-01-21 18:07] ocrickard commented on #722
OK, cool, I'll close this then.

[2017-01-21 18:07] #722 closed

[2017-01-23 08:25] wuwen1030 opened #730 "Lack of components corresponding to UIKit views"
There's only few components such as `Button` `Text` `Image` .etc , wonder why there's no whole set of components corresponding to UIKit views.

[2017-01-23 15:32] ryanrhee commented on #730
Which ones were you thinking of?

[2017-01-24 14:31] ocrickard commented on #730
Yeah, we want to keep the core framework very small so it can be used in any context. We'd love to see people publish auxiliary libraries on top of ComponentKit, and would be happy to promote it on our site if anyone wants to take that on.

[2017-01-24 14:31] #730 closed

[2017-01-24 14:32] ocrickard commented on #729
Closing, we lack the information needed to help. Can re-open if a failing unit test is provided.

[2017-01-24 14:32] #729 closed

[2017-01-24 14:34] ocrickard commented on #712
Our legacy datasource actually allows certain index paths to be handled by another object. This is the role of the decider: https://github.com/facebook/componentkit/blob/298d700b6a8e5b2ce30a7c2c35f4e4cc40371327/ComponentKit/DataSources/Common/CKComponentDataSource.h#L51

There's growing interest in replicating this behavior in the transactional datasource, since people seem to need it for conversi

[2017-01-24 14:36] ocrickard commented on #511
OK, I re-wrote CKComponentAction to provide a non-responder-chain based action. I recommend moving to this if you need to bridge gaps like this. We're trying to get away from the responder chain in general.

[2017-01-24 14:36] #511 closed

[2017-01-24 14:37] ocrickard commented on #651
Building a component within layout is not recommended since the scope tree is complete, and immutable at the point the layout is computed, so certain things just won't work if you take this approach. The sub-component needs to be created in the +new method.

[2017-01-24 14:51] avnerbarr opened #732 "Component controller and component scope isn't being created causing a crash"
In some situations I am getting a CKComponentTapGestureAttribute assertion :
[code]

This component (`IIOCKImageViewComponent`) is used in many places and haven't had problems till now.

The component controller which implements the tap callback isn't created for some reason.

I am creating a scope for the component as required

[code]
I suspect that something is wrong with the component scope cau

[2017-01-24 15:01] ocrickard commented on #726
Closing, we need more information. If a failing test or repro in WildeGuess is submitted, will re-open.

[2017-01-24 15:01] #726 closed

[2017-01-24 15:02] ocrickard commented on #711
Any updates?

[2017-01-24 15:05] ocrickard commented on #732
How are you creating the component/where?

[2017-01-24 15:32] avnerbarr commented on #732
Not sure I understand the question but I'll try to answer.

In this particular case I am iterating over an array of view data and creating a corresponding component for each element in the array for later use in a UITableView (In addition to cells which are not component based).

For instance:
[code]

At a later time I am setting the components to the `IIOCKView` (subclass of CKHostingView) (which

[2017-01-24 20:06] avnerbarr commented on #712
Is there an example for using this type of datasource?

[2017-01-25 10:28] avnerbarr commented on #711
Still not necessarily called (9 out of 10 times) and many times the view doesn't draw until I scroll a bit (its in a table view).

Now I'm also having this problem https://github.com/facebook/componentkit/issues/732 where the components controller isn't created (and always getting a null component scope)

I've modified the hosting view a bit to draw on the next cycle hoping it would alleviate the

[2017-01-25 16:38] ocrickard commented on #732
I'm asking how IIOCKImageViewComponent is constructed. I think in another issue I saw you creating components within layout? The thread-local scope isn't configured when you just call [CKComponent new].

[2017-01-27 14:31] eczarny commented on #712
Unfortunately I just removed the deprecated `CKComponentDataSource`. The decider functionality was purposely lifted out of its replacement, the transactional data source, so it now becomes the responsibility of the `UITableView` or `UICollectionView` component data source layer above.

@avnerbarr when using the transactional data source you can mimic the behavior of the decider by implementing a s

[2017-01-27 14:38] eczarny opened #733 "Add support for fallback cells to CKCollectionViewTransactionalDataSource"
`CKComponentDataSource` allowed folks to mix component-backed cells with custom cells via the `CKComponentDeciding` API. `CKTransactionalComponentDataSource` purposely does not support this API as it was built under the opinion this functionality is better left as a responsibility of the layer above. Typically falling under the role of the `UICollectionView` (or `UITableView`) component data sourc

[2017-01-27 14:54] eczarny opened #734 "Update all component data source documentation to reflect the removal of CKComponentDataSource"
`CKComponentDataSource` and `CKCollectionViewDataSource` have been replaced with `CKTransactionalComponentDataSource` and `CKCollectionViewTransactionalDataSource`, respectively. The collection views ComponentKit documentation needs to be updated, including any diagrams, to reflect this change.

Most important is providing an up-to-date example of how to use component with `UITableView` based on t

[2017-01-27 17:25] ocrickard commented on #732
Anyway, you can use CKBuildComponent to construct the thread-local state, but the subtree built within the scope of that call will be disconnected from any parent scope tree. That means that state updates in the subtree will not trigger a state update applied to the cell.

If you want all the machinery to work together, the components have to be created within the scope of the parent's +new method

[2017-01-28 04:04] eczarny commented on #558
@conradev our documentation is horribly outdated. I created #734 to track the relevant data source documentation updates.

[2017-01-28 04:04] #558 closed

[2017-01-30 10:28] avnerbarr commented on #732
Hi Ocrickard,

What does it mean "creating components within layout"? Not sure if I'm doing that or not.
(Just a guess meaning while building other UIViews?)

I've also never used `CKBuildComponent` directly.
Until now, I've always just constructed the root component and set that to the CKComponentHostingView.

I don't think the problem is specifically with the IIOCKImageViewComponent. I've tried

[2017-01-31 18:55] ocrickard commented on #732
Those components don't look like the problem to me.

This is what I'm talking about:
[code]

I'd add a breakpoint where you're reproducing this issue, and use `bt all` and include the backtrace here. That should help me figure out what's going wrong.

[2017-02-01 08:31] avnerbarr commented on #732
So we aren't doing the unsupported thing in the example

I can't think of a specific place I could set a breakpoint at, since its something that's _not_ happening. Its the general behavior that doesn't seem to be correct.

Is there something specific I should try?

[2017-02-01 08:33] avnerbarr commented on #712
Do you have an example I can reference? I'm having problems getting this formula to work.

[2017-02-01 14:52] avnerbarr commented on #732
This is the back trace when creating the scope

[code]

And this is the backtrace when the hosting view is laying out  (from computeLayoutThatFits)

[code]

[2017-02-09 21:26] kostiadombrovsky opened #744 "Add a BUCK file for ComponentKit"
It'd be nice to have BUCK file for ComponentKit

[2017-02-09 21:55] ocrickard opened #745 "We're setting up a slack channel"
Feel free to email me if you want an invite. I'm new to slack, so for now we're going to manage this manually. The channel is where you can get faster answers to questions from the community.

My email is ocrickard@fb.com

[2017-02-15 15:31] eczarny commented on #712
@avnerbarr I don't have any specific examples readily available. What problems are you running into?

[2017-02-15 15:40] eczarny commented on #711
I think we should back up a bit. It looks like you're trying to mount your component hierarchies in the table view's cells using a hosting view. This isn't something that we normally do. Have you looked at how our component collection view data source works?

https://github.com/facebook/componentkit/blob/master/ComponentKit/DataSources/CKCollectionViewTransactionalDataSource.mm#L211-L216

The use

[2017-02-15 23:11] RomanTruba opened #756 "CKTextComponent and links again"
Hi guys.
#246 , #253 says it is possible to get link pressed by almost hacking: accessing CKTextComponentView renderer and then getting link from it.
But the fact is `CKTextComponentView.h` now project-level header, and now it is impossible to access it from my code.
Maybe it is time now to implement the feature "Which link was exactly pressed"?

[2017-02-17 15:19] ocrickard commented on #756
Sure, we're open to pull requests!

[2017-02-20 09:41] avnerbarr opened #761 "crash in CKTextComponentKitLayer"
I'm getting a crash

[CKTextComponentLayer ck_currentAsyncLayerTransaction]: unrecognized selector sent to instance 0x170255870
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[CKTextComponentLayer ck_currentAsyncLayerTransaction]: unrecognized selector sent to instance 0x170255870'

[2017-02-20 11:10] avnerbarr commented on #761
I can't find where the getter/setters are actually implemented.
The property is declared in

[code]
I see it declared as @dynamic in 2 places. Specifically:

[code]

[2017-02-20 14:34] ocrickard commented on #761
Wow yeah, that code for the async layer is super old. Can you switch it to synthesize and see if that works?

[2017-02-20 14:34] ocrickard commented on #761
(This code predates my time at FB)

[2017-02-20 14:36] ocrickard commented on #756
I think a really nice PR here would be to provide a CKTypedComponentAction form of touch up action.

[2017-02-20 14:51] avnerbarr commented on #761
its a property on a category so I won't be able to change it to synthesize and I don't understand where its underlying getter is :/ Whats going on here :)

[2017-02-20 15:32] ocrickard commented on #761
Ahh, right. Just pulled and will do some snooping. Bizarre.

[2017-02-20 15:36] ocrickard commented on #761
Here's the issue: https://github.com/facebook/componentkit/pull/392

Basically CALayer used to act as a full Key-Value store, and this code was depending on that behavior. We should switch over all this code to use assoc objects instead. Mind doing a PR?

[2017-02-20 16:08] ocrickard commented on #732
So it looks to me like IIOTableviewInjectorSource is building a component without preparing the thread-local state. Try using CKBuildComponent at that call site instead of directly calling the constructor of the component.

[2017-02-22 23:04] ocrickard commented on #756
@nscoding what do you think of open sourcing the internal text component? I'm tired of maintaining two stacks.

[2017-02-26 10:07] avnerbarr commented on #761
Sure. Should I do that against master?

[2017-02-27 12:50] ocrickard commented on #761
Yep, against master.

[2017-03-03 12:39] ocrickard commented on #712
Alright, just to summarize:

1. CKComponentHostingView is a great way to embed components into a single cell without changing your datasource.
2. If you can change the datasource of the collection/table view, the fallback cell providing API on the new datasources allow you to vend non-Components cells.
3. IGListKit is a fantastic way to divide up a collection view into separate sections. You can u

[2017-03-03 12:39] #712 closed

[2017-03-03 12:40] ocrickard commented on #732
I'm pretty sure this is just not using CKBuildComponent in the component creation callsite. Closing since this is a bit old now.

[2017-03-03 12:40] #732 closed

[2017-03-03 12:42] ocrickard commented on #669
It's not obvious to me where this crash is coming from, but you are using the old datasource, which had a number of races. Can you try updating to the new datasources and report back if the crash doesn't go away?

[2017-03-03 12:42] #669 closed

[2017-03-03 12:43] ocrickard commented on #621
Alright, I think we're just going to fix the gesture recognizer issue by not firing when a view doesn't have a component. It's not ideal, but I don't really want to add such complexity to the framework to fix a bug that's only hit us in a single callsite within the framework.

[2017-03-03 12:44] ocrickard commented on #621
Ahh, that's right, this issue concerns the documentation. I'll try to fix this today.

[2017-03-03 12:52] ocrickard commented on #655
I'm gonna close this. I think this should be a reason to subclass CKComponent itself. CKCompositeComponent has a simple contract that we don't need to complicate.

[2017-03-03 12:52] #655 closed

[2017-03-03 12:55] ocrickard commented on #323
This is not well-supported at the moment. However, this should be solved by my proposal in https://github.com/ocrickard/componentkit/tree/incremental-mount which would allow you to implement a custom component layout for an entire view controller/collection view.

[2017-03-03 12:55] #323 closed

[2017-03-04 22:47] ocrickard commented on #215
@gkassabli I think this belongs on your plate. Can we consider adding an API for reversing layout direction?

[2017-03-04 22:47] ocrickard commented on #63
@gkassabli here's another one for you.

[2017-03-04 22:48] ocrickard commented on #226
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:48] #226 closed

[2017-03-04 22:49] ocrickard commented on #228
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:49] #228 closed

[2017-03-04 22:49] ocrickard commented on #277
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:49] #277 closed

[2017-03-04 22:49] ocrickard commented on #288
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:49] #288 closed

[2017-03-04 22:50] ocrickard commented on #292
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:50] #292 closed

[2017-03-04 22:50] ocrickard commented on #316
I'll be taking this on.

[2017-03-04 22:51] ocrickard commented on #342
I think we merged a fix again for this, right?

[2017-03-04 22:51] #342 closed

[2017-03-04 22:53] ocrickard commented on #367
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:53] #367 closed

[2017-03-04 22:53] ocrickard commented on #385
In the interests of cleaning up old tasks, I'm going through and closing anything that I think is low priority.

This task seems to be something that's been open for a long time that hasn't gotten a lot of traction. I'm closing it, but if anyone wants to take this, then feel free to re-open or open a new issue.

[2017-03-04 22:53] #385 closed

[2017-03-04 22:54] ocrickard commented on #562
This is a really interesting bootcamp task for someone I think. Good design problem.

[2017-03-04 22:55] ocrickard commented on #651
I implemented a scroll component in https://github.com/facebook/componentkit/pull/772 Feel free to take a look there.

[2017-03-04 22:55] #651 closed

[2017-03-04 22:58] ocrickard commented on #711
Closing for now. Feel free to open a new issue with any new information you get.

[2017-03-04 22:58] #711 closed

[2017-03-04 22:59] ocrickard commented on #744
This would be awesome. If anyone wants to submit a PR, I'd happily accept it.

[2017-03-04 23:48] itsthejb commented on #342
Hi. Yes, as far as I remember this was handled a while ago.

[2017-03-06 12:07] gkassabli commented on #215
Will add this after moving to Yoga layout

[2017-03-06 12:08] gkassabli commented on #63
Will add this after moving to Yoga layout

[2017-03-09 20:18] eczarny opened #778 "Release 0.20 to replace 0.2"
Oops. Didn't mean to "publish" 0.2 (CocoaPods is still at 0.15.1). I'm planning to publish 0.20 once we [drop support for CocoaPods](https://github.com/facebook/componentkit/pull/777).

[2017-03-20 16:25] #621 closed

[2017-03-21 15:47] #622 closed

[2017-03-28 12:13] ocrickard commented on #761
Should be fixed now!

[2017-03-28 12:13] #761 closed

[2017-03-28 12:14] ocrickard commented on #778
@eczarny any updates on this? Can we close?

[2017-04-06 16:28] #778 closed

[2017-04-09 17:08] samiq opened #792 "No podspec file anymore"
Hi guys, is there any reason why from version 0.2 to 0.20 the support for cocoapods was dropped?

podspec file is no longer available.

thanks,

G.

[2017-04-09 19:14] calimarkus commented on #792
https://github.com/facebook/componentkit/pull/777

[2017-04-11 16:19] eczarny commented on #792
The reason is mentioned in the pull request @calimarkus mentions. Maintaining support for CocoaPods has involved a lot of overhead so we decided to drop it.

Moving forward folks should either use Carthage or pull in the source code and Xcode project directly.

[2017-04-11 16:19] #792 closed

[2017-04-25 17:05] eczarny commented on #491
Fixed internally but the chisel changes need to be merged upstream (/cc @kastiglione). Closing this issue in the interim.

[2017-04-25 17:05] #491 closed

[2017-05-04 08:39] sxgfxm opened #806 "How to create a component that contains a collection view ?"
I can use ComponentKit to create a collection view whose cells display simple views. However, I get into trouble when I create a component which contains a collection view. Is there any demo or tips to do that ? Thanks a lot .

[2017-05-04 16:07] ryanrhee commented on #806
That should work as expected. What do you mean by "get into trouble"?

[2017-05-05 08:14] sxgfxm commented on #806
I initialize the dataSource with one section and insert multiple items. When I scroll the collection view, it works correctly. Then I scroll up and down few times, the cells which contain a collection view show content in the wrong order. When the cell will appear, I check the model that is correct. But when the cell did appear, it shows different content randomly. I think maybe there is something

[2017-05-08 18:15] ryanrhee commented on #806
Just glancing at it, things look fine. If you think there's a bug with the core framework can you show it with a breaking unit test? Thanks!

[2017-05-08 18:46] b3ll opened #809 "Unnecessary Text Layout in CKTextKitRenderer"
Currently CKTextKitRenderer uses the bounds of the text container to render the required glyphs, rather than the bounds passed in through `-drawInContext:bounds:`.

[code]

Is there any reason for this?

I'm currently laying out text in a `UIScrollView`, which can change dynamically, and I'd rather it not redraw the entire scrollview's `-contentSize` of glyphs, since that can be extremely expensiv

[2017-05-09 12:55] ocrickard commented on #809
Ahh, I think that sounds great, I can't think of a good reason not to use a passed-in rect! PR please.

[2017-05-09 13:00] ocrickard commented on #806
This seems likely an issue inside your collection view code.

cc @gkassabli @lucasr we get requests to have an open-source collection view example every once in awhile. Any interest in providing an example?

[2017-05-09 13:02] ocrickard opened #810 "Provide and example of embedding a collection view inside a cell"
We get requests for this fairly frequently. We should consider providing an example of how to do this correctly, possibly in the example app.

https://github.com/facebook/componentkit/issues/806

[2017-05-09 13:03] ocrickard commented on #806
I opened https://github.com/facebook/componentkit/issues/810 to track providing an example. Closing this issue since the specific issue here with the code needs more information to be actionable. If you get a failing unit test, feel free to open a new issue!

[2017-05-09 13:03] #806 closed

[2017-05-10 07:56] sxgfxm commented on #806
Thank you for your help. I'm looking forward for the example.

[2017-05-11 15:31] #809 closed

[2017-05-15 19:22] ocrickard commented on #745
The channel is pretty silent, and I don't think folks are getting much value out of it. I'll stay in there, but I'm closing this issue.

[2017-05-15 19:22] #745 closed

[2017-05-17 09:04] sxgfxm commented on #810
Is there any example ?

[2017-06-13 03:43] sxgfxm commented on #810
I'm still waiting for the example. Is there anyone could help ? Thanks a lot !

[2017-06-18 16:31] leavez commented on #22
Hey guys, I write a simple wrapper of componentKit for swift, [ComponentSwift](https://github.com/leavez/ComponentSwift). Please have a try if interested.

[2017-06-23 02:52] mechazod opened #836 "Request to add minimum font size in Label"
![screen shot 2017-06-23 at 10 55 42 am](https://user-images.githubusercontent.com/16739905/27464820-0dd587f2-5802-11e7-8669-6f1974f0e0ea.png)

[2017-06-26 14:15] ryanrhee commented on #836
Thanks for the suggestion!

Happy to consider this feature given a pull request that implements it; otherwise, we likely won't be looking at it.

[2017-06-26 14:15] #836 closed

[2017-06-26 18:30] mechazod commented on #836
Thanks @ryanrhee really appreciated. 👍

[2017-07-09 10:55] avnerbarr opened #843 "Button insets don't appear correctly when button has multiple lines"
Came across an issue where I want multi-line buttons that allow setting left/center/right alignment  (`NSTextAlignment`) as well as setting content insets (`UIEdgeInsets`).

The button's text label doesn't appear as expected (the values of `contentHorizontalAlignment` as well as `contentEdgeInsets`)

I have a patch together which fixes the multiline button issue by setting "0" lines for the multil

[2017-07-10 14:59] dshahidehpour commented on #843
Can you post an example of code that reproes the bug without your fix?

[2017-07-10 15:09] avnerbarr commented on #843
Exactly the same just by removing the calls to the categories @selector(iio_......)

Avner

[2017-07-10 15:19] dshahidehpour commented on #843
@avnerbarr Can you send us a repro with all the configurations? That will help us track the bug.

[2017-07-10 16:44] avnerbarr commented on #843
Sure. I’ll prepare something

Avner

[2017-07-11 12:58] avnerbarr commented on #843
I prepared this small test case

https://github.com/avnerbarr/ComponentsKitIssueTestCase

Let me know if it makes sense

[2017-07-26 12:10] sxgfxm commented on #810
Is there anyone who can tell me how to implement that ? Great thanks

[2017-07-28 15:35] tamntios commented on #810
@sxgfxm
I code listview 1 (ComponentKit), in listview 1 have a cell, in cell have listview 2 (ComponentKit). It work.
You can use CKStatefulViewComponent create component wrap StatefulView (UICollectionView). UICollectionView in a cell (cell in a UICollectionView ComponentKit too). I'll write sample code as soon as I can. Hope it help you now. You're welcome.

@ocrickard Can I commit sample code a

[2017-07-29 02:14] sxgfxm commented on #810
@tamntios I'm so excited that you provide an approach. I'll try today. Thank you very much !

[2017-07-29 07:37] sxgfxm commented on #810
@tamntios  I worked on CKStatefulViewComponent for a few hours. Cause there is few references, I have no idea how to exactly implement your approach. I' ll keep trying and be looking forward for your sample code. Thanks again.

[2017-08-04 18:29] jonathandann opened #850 "WildeGuess example in Getting Started guide needs to mention carthage"
The example in the docs needs updating with lines about installing `carthage` and running `carthage update` prior to building the WildeGuess Xcode project.

[2017-08-05 17:01] gkassabli commented on #63
CKFlexboxComponent supports this

[2017-08-05 17:01] #63 closed

[2017-08-05 17:02] gkassabli commented on #215
CKFlexboxComponent supports this

[2017-08-05 17:02] #215 closed

[2017-08-07 21:33] ocrickard commented on #215
So cool! Thanks @gkassabli

[2017-09-21 07:24] zhfeng20108 opened #869 "ComponentKit.h:36:9: 'ComponentKit/CKDataSourceChangeset.h' file not found"

[2017-09-21 09:02] zhfeng20108 opened #870 "Layout error with CKFlexboxDirectionVerticalReverse or CKFlexboxDirectionHorizontalReverse"
[
<img width="765" alt="2017-09-21 5 00 23" src="https://user-images.githubusercontent.com/5362172/30687646-92cb2e52-9eee-11e7-8fdd-7c7a9a604e26.png">
](url)

[2017-09-21 10:26] gkassabli commented on #870
@zhfeng20108 This seems to work correctly. Vertical reverse forces elements to be placed from the bottom to top, so line compoment is below label component as expected

[2017-09-21 11:47] dshahidehpour commented on #869
Landing a fix now!

[2017-09-21 11:47] #869 closed

[2017-09-22 06:23] zhfeng20108 commented on #870
but, the space between label and  line compoment should be 50

[2017-09-22 06:43] zhfeng20108 opened #871 "Xcode9 error:No matching constructor for initialization of 'const CKButtonComponentOptions &'"
<img width="706" alt="2017-09-22 2 42 34" src="https://user-images.githubusercontent.com/5362172/30732292-718928f4-9f37-11e7-90fd-a253f0e56528.png">

[2017-09-22 07:56] zhfeng20108 opened #872 "Can not add stroke to the word"
To add stroke to the word，we need settings:
NSStrokeColorAttributeName:[UIColor blackColor],
NSStrokeWidthAttributeName:@(-1)
but, The above two lines are not supported in CKLabelAttributes.

[2017-09-22 12:05] zhfeng20108 opened #873 "Not find imageAlignment in CKButtonComponentOptions"
In Arabic, we need to reverse,  like this
typedef NS_ENUM(NSInteger, ASButtonNodeImageAlignment) {
  /** Places the image before the text. */
  ASButtonNodeImageAlignmentBeginning,
  /** Places the image after the text. */
  ASButtonNodeImageAlignmentEnd
};

[2017-09-22 12:53] gkassabli commented on #873
We rely on internal UIButton logic for this and because it's not supported there, we don't have a reasonable way to support it in CKButtonComponent. You can use imageEdgeInsets to control that however

[2017-09-22 12:53] #873 closed

[2017-09-22 12:57] gkassabli commented on #872
CKLabelComponent is a simplified version of CKTextComponent. Attributes you've mentioned are supported in NSAttributedString. You should use CKTextComponent if you want to use NSAttributedString.

[2017-09-22 12:57] #872 closed

[2017-09-22 13:05] gkassabli commented on #871
This was the issue recently, but should already be fixed, please pull to the latest version and check if it is working

[2017-09-22 13:05] #871 closed

[2017-09-22 13:12] gkassabli commented on #870
Okay, I see the issue, thanks for reporting! I'll follow up with fix soon

[2017-09-22 13:25] zhfeng20108 commented on #871
I had  pull to the latest version, but  the issue already exist on Xcode8 and Xcode9

[2017-09-22 13:27] zhfeng20108 commented on #871
@gkassabli

[2017-09-27 05:46] zhfeng20108 opened #874 "CKStaticLayoutComponent and CKButtonComponent not work"
<img width="1021" alt="2017-09-27 1 45 32" src="https://user-images.githubusercontent.com/5362172/30897710-4dbf44be-a31d-11e7-8013-648a497e01da.png">

[2017-09-28 16:19] dshahidehpour commented on #874
@zhfeng20108 I just rebased and ran WildeGuess, and I'm not seeing build errors. Please rebase :)

[2017-09-28 16:19] #874 closed

[2017-09-29 17:28] dshahidehpour commented on #850
Fixed in #875! Thanks @jonathandann

[2017-09-29 17:28] #850 closed

[2017-10-04 10:23] gkassabli commented on #870
Should already be fixed

[2017-10-04 10:23] #870 closed

[2017-10-14 18:28] swolchok opened #885 "CKDataSourceIntegrationTests are failing on master"
[code]

and

[code]

[2017-10-18 16:21] gkassabli commented on #843
Should be fixed with recent changes

[2017-10-18 16:21] #843 closed

[2017-10-19 18:57] thurn opened #888 "Example app 'WildeGuess' does not compile"
Following the instructions in the 'Getting Started' guide, I get this error when I attempt to compile the WildeGuess app:

    No such file or directory: '<...>/componentkit/Carthage/Checkouts/yoga/yoga/Yoga.c'

Using Xcode 9.0.1.

[2017-10-19 20:03] dshahidehpour commented on #888
Looks like you need to run `carthage bootstrap`

[2017-11-01 06:09] asimiftikhar commented on #871
@zhfeng20108  is this issue resolved?

[2017-11-09 17:47] vividcode commented on #888
You need to run following command fter carthage bootstrap in order for the whole thing to work out of XCode:

`bash build.sh ci-componentkit-ios`

I have already [updated readme.md with pull request.](https://github.com/facebook/componentkit/pull/891)

[2017-11-14 06:37] zhfeng20108 opened #892 "Fatal Exception: std::__1::system_error mutex lock failed: Invalid argument"
<img width="956" alt="2017-11-14 2 34 31" src="https://user-images.githubusercontent.com/5362172/32766294-45d765ea-c949-11e7-8a38-a57a0a414e66.png">
<img width="1053" alt="2017-11-14 2 35 20" src="https://user-images.githubusercontent.com/5362172/32766304-4e970be0-c949-11e7-94be-5b27088fe9e8.png">

[2017-11-14 12:14] gkassabli commented on #892
This is likely happening during the system teardown when application is closing, so I don't think crash is relevant.
If you think this is happening in other conditions, please post more detailed explanation how to reproduce the issue.

[2017-11-14 12:14] #892 closed

[2017-11-14 13:53] gkassabli commented on #885
This seems to works correctly right now. Please reopen, if this fails again

[2017-11-14 13:53] #885 closed

[2017-11-14 14:47] gkassabli commented on #888
This should be corrected with https://github.com/facebook/componentkit/commit/405bcc8404ef5c9703e7c152fd0ff27230ecc821

[2017-11-14 14:47] #888 closed

[2017-11-17 12:29] zhfeng20108 opened #893 "error with carthage update --platform iOS"
The latest code error
*** Checking out ComponentKit at "91b93bbd763ef9afe6553f28d2977113ca02b6f4"
*** xcodebuild output can be found in /var/folders/gf/lxnp2cg115zcqkb7y7ngc3880000gn/T/carthage-xcodebuild.LaPjRL.log
*** Building scheme "ComponentKit" in ComponentKit.xcodeproj
Build Failed
	Task failed with exit code 65:

[2017-11-17 12:35] gkassabli commented on #893
Could you please provide some context on when this error is happening

[2017-11-17 12:48] zhfeng20108 commented on #893
I create a new project 'TestYYY', then create file Cartfile, execute 'carthage update --platform iOS'

[2017-11-17 12:50] zhfeng20108 commented on #893
The Cartfile's content is "github "facebook/ComponentKit" "91b93bbd763ef9afe6553f28d2977113ca02b6f4""

[2017-11-22 14:34] gkassabli commented on #893
Thanks for the report!
This should be fixed on latest commit.

[2017-11-22 14:34] #893 closed

[2017-12-11 02:19] bigbangvn commented on #62
Hi, seems that CK is still not support justify-content: space-between now?

[2017-12-18 18:08] toulouse commented on #744
@gkassabli plans to turn this from a rough draft into something a little bit more polished (note that it needs modification to point to yoga, so I don't think it will be merged until that can be accounted for), but here's a Buckfile one of our teams uses for ComponentKit.
[code]

[2017-12-24 15:31] Shimaa-Hassan commented on #810
is there any example ?

[2018-01-08 07:11] yupengyang commented on #892
@zhfeng20108  Are you still having this problem? Can you reproduce this issue?

[2018-02-04 20:09] GodsEye-07 opened #899 "Conversion to Swift"
please convert the code to the swift language for much easy and no headers to be included in between as people may then import only the part that is necessary for them.

[2018-02-13 21:27] pantuspavel commented on #583
Should be fixed with https://github.com/facebook/componentkit/commit/05a028f43af82f6f021c42f3ff10a741e57c7062

[2018-04-12 02:34] zhfeng20108 commented on #892
<img width="1131" alt="2018-04-12 10 27 34" src="https://user-images.githubusercontent.com/5362172/38653231-52dd53e0-3e3c-11e8-82f1-cd4488545f25.png">
This issue happened too much. Is there a way to avoid it?

[2018-04-12 02:35] zhfeng20108 commented on #892
@gkassabli

[2018-04-12 02:40] ocrickard commented on #892
Wait, this is an error in mutex locking? That is almost certainly a heap corruption. It's crashing at this line, but the reason it is crashing is that the mutex has been stomped by some other code.

Historically, TextKit has had lots of hidden thread-safety issues despite being stated as thread safe. CK locks around all access to TextKit, but there are still issues that have cropped up in the rece

[2018-04-12 02:41] zhfeng20108 opened #905 "Fatal Exception: std::__1::system_error: mutex lock failed: Invalid argument"
<img width="1131" alt="2018-04-12 10 27 34" src="https://user-images.githubusercontent.com/5362172/38653455-6edf9ea8-3e3d-11e8-88f4-02cd39c7110b.png">
[issue_4372_crash.txt](https://github.com/facebook/componentkit/files/1901142/issue_4372_crash.txt)

This crash happened too much when app in background. Is there a way to avoid it?

[2018-04-12 02:42] ocrickard commented on #892
Oh god, wait, someone should check that the static mutex in the TextKit impl isn't susceptible to the static destructor fiasco. cc @adamjernst who will be able to check. That would probably manifest in this way if one thread is attempting to tear down while another thread tries to lock, right?

[2018-04-12 02:44] ocrickard commented on #899
I wrote a Swift version of CK here, it's a WIP, not sure when I'll have time to finish it. If anyone wants to take any parts of it for any integration work, please do!

http://theodolite.org

[2018-04-12 02:46] ocrickard commented on #892
Specifically this line: https://github.com/facebook/componentkit/blob/master/ComponentTextKit/TextKit/CKTextKitContext.mm#L33

I'd appreciate @adamjernst or @eczarny checking on me that that line is correct, and won't crash on exit().

[2018-04-12 02:48] ocrickard commented on #892
OK, looks like std::mutex is not trivially destructible in Clang, so we should probably just leak that mutex. Anyway, I believe this crash is happening on exit() as @gkassabli said above, so it probably has no impact on user experience.

[2018-04-12 02:52] ocrickard commented on #905
Same fix in https://github.com/facebook/componentkit/pull/906

[2018-04-20 03:08] ocrickard commented on #905
@zhfeng20108 would you mind patching the change in #906 to your local branch and verifying if it fixes the reported crash in your app? Since you're the only reporting user, it'll be hard for the folks at FB to merge until they get confirmation that it fixes your problem.

[2018-04-29 16:40] ishall1 opened #908 "compile error"
Skipped building yoga due to the error:
Dependency "yoga" has no shared framework schemes for any of the platforms: iOS

[2018-04-30 11:09] alickbass commented on #908
Hi! Are you using `carthage checkout` command?

[2018-05-06 02:39] ishall1 commented on #908
@alickbass Thanks for your reply. I used 'carthage update' command. Is there a way to fix it?

[2018-05-06 08:00] alickbass commented on #908
Yes :) please use `checkout` instead

[2018-05-07 05:04] ishall1 commented on #908
@alickbass Thank you very much. It works.

[2018-05-07 05:04] #908 closed

[2018-05-17 16:48] ocrickard commented on #406
I believe this is due to the fact that the stateful view context is held by the reuse pool, and the real bug was that the reuse pool max may not have been respected. I believe we should actually close this bug report. It's intended behavior. Perhaps just a comment on the fact that the context will be held by the reuse pool.

[2018-05-17 16:49] ocrickard commented on #734
@gkassabli any updates on this? It's been open for a year and a half.

[2018-05-17 16:50] ocrickard commented on #733
I feel like this got implemented at some point in the last year for integration in one of the internal apps. Is that the case?

[2018-05-17 16:50] ocrickard commented on #559
I believe this was being managed by @kfirapps. @kfirapps any update on this?

[2018-05-17 16:51] ocrickard opened #909 "Public roadmap"
Is it possible to publish the roadmap for CK publicly?

I use CK in a number of personal projects, and want to understand where it's headed.

[2018-05-24 08:47] ObesityChow opened #911 "build failed when using Carthage to integrate componentKit 0.22"
`clang: error: no such file or directory: '/PATH/TO/PROJ/Carthage/Checkouts/ComponentKit/Carthage/Checkouts/yoga/yoga/YGNodePrint.cpp'`

it seems like the dependencies of CKKit is outdated. so i removed Carthage/Checkouts/ComponentKit/Carthage and use  `carthage checkout` in Carthage/Checkouts/ComponentKit in order to update the code of yoga to latest in 1.8.0

then i executed `carthage build --pl

[2018-06-12 20:46] vmsp commented on #911
I was getting the same error. Adding the dependency manually worked fine, if you're still struggling.

[2018-06-20 21:36] pkrmf opened #913 "ComponenKit should depend on Yoga 1.6 instead of 1.6.0"
We should try to avoid setting a dependency on a patch version. Imagine the following situation:

Application pulls 2 Frameworks as dependencies, **Framework A** and **ComponentKit**.
- **Framework A** has a dependency on **Yoga ~>1.8**
- **ComponentKit(master)** has a dependency on **Yoga ~>1.6.0**

Cocoapods won't allow the consuming application to pod install, since it will treat **1.6.0 to 1.8

[2018-06-22 07:27] ObesityChow commented on #911
@vmsp no i change to lower version and problem solved

[2018-06-22 07:28] madcato commented on #913
This issue is causing me this problem:

ComponentKit uses the identifier **YGJustifySpaceEvenly** defined in Yoga version **1.7** . But Cocoapods don't let me update Yoga to that version, because **yoga ~>1.6.0** configuration.

[2018-06-22 10:51] alickbass commented on #913
Seems fair, @pkrmf. Do you want to submit a PR?

[2018-06-22 10:57] alickbass commented on #911
I think it's related to #913. I will keep you updated, guys

[2018-06-22 11:38] pkrmf commented on #913
@alickbass Sure!

[2018-06-22 11:44] pkrmf commented on #913
@alickbass [PR](https://github.com/facebook/componentkit/pull/914)

We should be looking to publishing the podspec to cocoapods master repo

[2018-06-26 18:02] ocrickard commented on #909
Ping, it's been a few weeks. Anyone there?

[2018-06-26 23:34] pkrmf commented on #913
@alickbass just a reminder about publishing the new podspec to cocoapods. Is there any way I could help on that?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-26 23:34] conradev commented on #909
I would also love to see this!

[2018-06-27 12:40] alickbass commented on #905
@ocrickard thanks for taking care of it! I will close the issue

[2018-06-27 12:40] #905 closed

[2018-06-27 13:30] alickbass commented on #913
@pkrmf I have just pushed to trunk! Thanks for your contribution and please let me know if everything is working for you!

[2018-06-27 13:43] pkrmf commented on #913
@alickbass you are the man! Thank you so much!

[2018-06-27 13:44] alickbass commented on #913
I am gonna close this issue. Feel free to reopen it in case something is not working

[2018-06-27 13:44] #913 closed

[2018-06-28 05:01] txs528 opened #915 "How to compute feeds(collectionView) offset when keyboard appeared for comment"
This feature is comment in feeds page, I don't know the cell frame

[2018-06-28 07:53] txs528 opened #916 "Can I fix the deployment to iOS8.0? Our project iOS Deployment target is 8.0."
Our project iOS deployment target is 8.0, but componentkit.spec require min 8.1 version.
s.ios.deployment_target = '8.1'

[2018-07-02 08:22] txs528 opened #917 "che"

[2018-07-02 08:22] #917 closed

[2018-09-24 10:50] joprice commented on #206
@DrChrispoper How did you to about this? `referenceSizeForHeaderInSection` expects a height, but this inverts the normal usage of componentkit, where the component computes height based on intrinsic height of the content and padding, margin, etc. Are you hardcoding a height for the component?

[2018-09-30 06:49] DemonJ1992 opened #918 "carthage update error"
xcode 10
my Cartfile:
`github "facebook/ComponentKit" `

[code]
[code]

[2018-10-01 09:37] alickbass commented on #918
Could you please run --verbose flag and give some details on the build error? Thanks!

[2018-10-08 18:28] naoufal commented on #918
@alickbass Came across the same here.  Here are the verbose logs.

https://gist.github.com/naoufal/73a3fbe19ff390f8b3c5852054697361

[2018-10-11 07:12] DemonJ1992 commented on #918
[code]

[2018-10-11 09:57] alickbass commented on #918
Hey guys! We have the same issue in Travis... Could you try to remove the Carthage cache folder and let me know if it helps? Thanks a lot!

[2018-10-15 03:38] #916 closed

[2018-10-15 03:38] #915 closed

[2018-10-19 20:54] naoufal commented on #918
Tried removing the cache folder -- didn't resolve it on my end.

[2018-10-22 16:42] leavez opened #920 "Support new build system"
when using the new build system in Xcode, which is default for xcode 10, it has an build error

[code]

It's because the new build system cannot allow the info.plist being into 'Compile Sources'. In the podfile, the following could lead this problem. We should exclude the info.plist form source_files

[code]

[2018-10-23 09:28] alickbass commented on #920
Great! Thanks for submitting this issue! I will take a look at it!

[2018-10-25 13:50] alickbass commented on #918
@naoufal could you go to the /Users/naoufal/dev/personal/SomeProject/Carthage/Checkouts/ComponentKit/Carthage/Checkouts/yoga/yoga/YGStyle.cpp and check if this file exists.... It is super weird, as the git checkout should point to this file. If it is not there, can you please try to search it in the Carthage folder? It seems like the carthage does not check out proper version yoga

[2018-11-05 11:20] alickbass commented on #918
Hey guys! I opened a PR #921, once it gets merged, I think your problem should be solved. Please let me knot if doesn't work

[2019-01-04 10:50] KelaKing commented on #918
I try, still error :(
[code]

[2019-01-22 06:48] nicreals opened #924 "how can I create scrollview component"
https://github.com/facebook/componentkit/issues/651
this issue mentioned that we can impletation a scrollalbe componnet with CKStackLayoutComponent,
but CKStackLayoutComponent is deleted in the latest release.

is there any way we can add a scrollable view within Componetkit?

[2019-01-22 08:54] aCorrado commented on #924
You could use [CKFlexboxComponent](https://github.com/facebook/componentkit/blob/master/ComponentKit/LayoutComponents/CKFlexboxComponent.h) instead of CKStackLayoutComponent, and then follow the suggestions in the thread

[2019-01-24 06:59] cntrump commented on #918
try this:
build componentkit first

[code]

[2019-03-25 10:07] #924 closed

[2019-03-28 00:41] ocrickard commented on #909
Any update here?

[2019-04-14 17:45] fabiomassimo commented on #140
I'll close this because there hasn't been any activity for quite a while.
Please make sure to update to the latest ComponentKit version and check if that solves it. If not, let us know by opening a new issue 👍

[2019-04-14 17:45] #140 closed

[2019-04-14 17:46] #316 closed

[2019-04-14 17:48] #406 closed

[2019-04-14 18:34] fabiomassimo commented on #504
Since the last time this got updated the core team has been focused on different features that require this topic to be revisited once again. Closing this and following up on our roadmap.

[2019-04-14 18:34] #504 closed

[2019-04-14 18:39] fabiomassimo commented on #918
I'll close this because there hasn't been any recent activity.
Please make sure to update to the latest ComponentKit version and check if that solves it. If not, let us know by opening a new issue 👍

[2019-04-14 18:39] #918 closed

[2019-04-14 18:39] #899 closed

[2019-04-14 18:41] fabiomassimo commented on #899
Conversion to Swift is not currently a high priority in our roadmap but thanks for sharing interest such that we can better understand the external demand for it.

[2019-04-14 18:50] fabiomassimo commented on #733
We are currently not considering adding support for this although if you (author/reader) believe this might be helpful for your use case, please let us know by reopening the issue.

[2019-04-14 18:50] #733 closed

[2019-04-14 18:51] fabiomassimo commented on #911
Hi @ObesityChow, were you able to make this work with the last version of ComponentKit?

[2019-04-14 18:58] fabiomassimo commented on #909
We are considering the demand for a public roadmap, thanks for showing your interest. The future of ComponentKit is very bright (trust me 😉) although sharing a roadmap currently is something we only manage to do internally. We will reconsider this once again and keep this space updated.

[2019-04-15 23:26] fabiomassimo commented on #560
Currently we don't see this as priority. Although, we might want to reconsider when supporting more use cases that are app-wide like a "dark mode" support 👀

[2019-04-15 23:26] #560 closed

[2019-04-15 23:27] fabiomassimo commented on #562
We decided to not pursuing this investigation for now.

[2019-04-15 23:27] #562 closed

[2019-04-15 23:28] fabiomassimo commented on #911
Closing for no new activity. Please reopen if needed 👍

[2019-04-15 23:28] #911 closed

[2019-05-14 01:57] sdkitono commented on #744
Hiya I'm trying to compile ComponentKit with Buck but i have the following output
`ComponentKit/ComponentKit/Core/Scope/CKComponentScopeRoot.h:15:9: fatal error: 'ComponentKit/CKAnalyticsListener.h' file not found
#import <ComponentKit/CKAnalyticsListener.h>`

This is my BUCK file
`headers = glob([
    "ComponentKit/Core/*.h",
    "ComponentKit/Core/Scope/*.h",
    "ComponentKit/Base/*.h",
    "Co

[2019-05-14 18:26] sdkitono commented on #744
So I kinda have something almost working now... If I do not add the exported_headers ComponentKit can be built.

Now I have this error

`ComponentKit/ComponentKit/Core/ComponentUtilities.h:11:9: fatal error: 'algorithm' file not found`

[code]

Any advice?

[2019-05-14 21:33] sdkitono commented on #744
Hi Guys I have got it working... The fix was apparently to make sure that the file that is importing `#import <ComponentKit/ComponentKit.h>` has to be a .mm file so that it can be compiled with the c++ standard library. Fun bug.

And if anyone looking to do this here is my full BUCK file for ComponentKit

[code]

If anyone wants a full source code, let me know and I will post a repo to Github.

[2019-06-20 15:32] serjiogunit commented on #756
Hello, any updates here? How to detect tapped link?

[2019-06-21 14:28] fabiomassimo commented on #756
Sorry for this being around for a while.
We have recently discussed this again with the team and we decided to not add new features to the `CKTextComponentView` as it is right now but rather work on releasing a new text component that we have built internally.
As soon we have a rough ETA we will update this issue.

[2019-07-17 03:17] txs528 opened #937 "Help! CKButtonComponent crashed sometimes"
![1ada3358-edec-42e4-bff0-375d39f6196b](https://user-images.githubusercontent.com/8588387/61344460-eb195980-a883-11e9-843e-06bfdaef2a9c.png)
I use it like this:
![image](https://user-images.githubusercontent.com/8588387/61344600-61b65700-a884-11e9-9824-3fa1eea6049e.png)

[2019-08-13 13:16] serjiogunit commented on #356
can you provide example for `setupFunction` usage

[2020-04-05 22:06] philmartin83 opened #947 "Carthage Update Issue"
Hey,
I've run Carthage update as I want to try Component kit out but I get this can anyone help?

`Building scheme "ComponentKit" in ComponentKit.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/phil/Desktop/CarthageTestProject/Carthage/Checkouts/ComponentKit/ComponentKit.xcodeproj -scheme ComponentKit -configuration Release -derivedDataPath /Users/

[2020-04-05 23:29] fabiomassimo commented on #947
Hi @philmartin83,
We recommend to use `carthage bootstrap` to properly setup the Xcode project before running it. You can found more info in the README.

Have you tried that already? Does it give the same error as `carthage update`?

[2020-04-07 14:33] philmartin83 commented on #947
Hi @fabiomassimo

This works yes, but I can't use it outside of the example project no? theres no visible .framework I can drop into my project or is that achievable yet?

[2020-04-17 20:09] gregkerzhner opened #948 "Question - how does this compare to SwiftUI"
What do you see as the main differences and similarities?

[2020-04-26 12:08] KelaKing opened #949 "Component not release"
In theory, memory grows infinitely

<img width="368" alt="截屏2020-04-26 20 07 27" src="https://user-images.githubusercontent.com/13584044/80307091-9420b780-87f9-11ea-92e3-575ba83f8d55.png">

[2020-04-27 13:35] icedice commented on #948
I'm interested in this as well.. But I guess two main differences is that this is able to do Asynchronous Layout and that this unlike swiftUI does not require iOS 13.

[2020-05-30 18:11] fanny opened #951 "[Documentation] Views path is not render"
## 🐛 Bug Report

(A clear and concise description of what the bug is)
When we are navigating to Views page of the reference docs, the page is not found

### Have you read the [Contributing Guidelines on issues]
yes

## To Reproduce
![image](https://user-images.githubusercontent.com/14113480/83336180-b63da780-a287-11ea-85f0-3d67107a276a.png)
Click on views in the sidebar

## Expected behavior
it re

[2020-05-30 18:11] fanny commented on #951
I didn't found the location of the docusaurus setup, if you guys need help I can do a PR.

[2020-05-30 18:17] fanny commented on #951
The same happens for a bunch of other paths like: `docs/identation`, `avoid-single-use-constants`, `component-context`,

[2020-06-02 21:54] vmsp opened #952 "Delete 'Carthage/Checkouts' directory"
Old git submodules for ComponentKit's dependencies are checked out at `/Carthage/Checkouts`.  This breaks `carthage update` as the dependencies mentioned in `Cartfile.private` won't be used.

[2020-06-09 11:02] fabiomassimo commented on #951
Sorry for the disruption this should be solved now.

Please open a new issue if it's still not working for you.

[2020-06-09 11:02] #951 closed

[2020-07-15 13:02] rturk opened #953 "question - docs (docusaurus) repo?"
Hi all,
I'm confused where the documentation aka. docusaurus repo is storage, how can I submit a PR ?

[2020-07-15 14:57] fabiomassimo commented on #953
Hello there,
thanks for reaching out!
We are not syncing our Docusaurus content to the main repo at the moment but I see no reason why we should not. I'll set this up accordingly and update this space.

[2020-07-27 09:41] IcyW commented on #918
I solved this problem by running `./build.sh ci-componentkit-ios` in the root dirctory.
![image](https://user-images.githubusercontent.com/16513834/88527875-70efe900-d030-11ea-8e81-876084c233eb.png)

[2020-07-28 14:06] rturk commented on #953
Hi @fabiomassimo tks! Can you share an ETA?

[2020-10-18 06:53] carolinea87 opened #957 "Xcode not building ComponentKit checked out via cocoapods"
I used cocoapods to add componentkit as a dependency. When I try to build the project I get build error:

`"Could not build module ComponentKit"`

Here is my podfile
<img width="901" alt="Screen Shot 2020-10-17 at 11 52 21 PM" src="https://user-images.githubusercontent.com/34731962/96360664-e4574300-10d3-11eb-9891-5d23f0da81ba.png">

[code]

[2020-11-05 00:19] kjcsb1 opened #958 "Docusaurus source code"
Is the source for your [docusaurus website](https://componentkit.org/) available publicly?

[2020-11-12 07:15] carolinea87 commented on #957
Can anyone help? Now importing ComponentKit/ComponentKit.h works by I am unable to import CKCollectionViewDataSource.h. I am planning to ditch ComponentKit if I keep getting these issues. It is so painful to use a library which is not maintained well.

[2020-11-12 11:10] aCorrado commented on #957
If you try to rename your file from "ViewController.m" to "ViewController.mm" it should work.

ComponentKit is an ObjectiveC++ library and this means that the files that import CK should use the ".mm" extension

[2021-01-19 06:50] AyeMinnOo opened #959 "question: My component is not getting full width in screen landscape mode."
Hi guys, a few weeks ago, I tried so many tutorials and samples including WildGuess . But my components did not resize automatically in screen rotation.
I used **CKComponentSizeRangeFlexibleHeight**  for CKSizeRange.
I also tried reload collection view  in **viewDidLayoutSubviews** and **viewWillTransitionToSize**.
What did I miss?
Can someone help me . How to do to get full width in landscape mod

[2021-01-19 20:19] caschomburg123 commented on #959
Can it be removed from Facebook?

On Tue, Jan 19, 2021 at 1:50 AM Aye Min Oo <notifications@github.com> wrote:

[2021-03-18 11:55] #957 closed

[2021-03-31 04:26] donggelaile opened #960 "Not Support Incremental mount"
hi, As I know that Litho(Android) is support incremental mount now, but i can`t find this in componentkit.  is there a plan to support incremental mount on iOS ?
And here is the link:
https://fblitho.com/docs/deep-dive/incremental-mount

[2021-04-15 04:40] megha1208 opened #961 "Build Error with "RenderCoreLayoutCaching""
I am getting the following build error when I tried to run the sample project for the first time:

<img width="1392" alt="Screen Shot 2021-04-15 at 10 08 21 AM" src="https://user-images.githubusercontent.com/33864211/114814766-83829c00-9dd2-11eb-87ab-f5813ff6c108.png">

Is there any workaround to this issue as RenderCoreLayoutCaching is not included in the componentKit?

[2021-04-27 21:44] ColinCammaranoAccolade opened #962 "ComponentKit does not compile with Xcode 12.5"
Hello! I recently updated Xcode to 12.5 via the App Store and ran into a few interesting compiler errors in ComponentKit when compiling my iOS (Swift + Objective-C) app. The errors occur regardless of the build target; I attempted to build for a physical device, the generic build target, and a few simulators. The errors are as follows:

`/Users/colin.cammarano/Workspace/Mobile/Test App/Pods/Compon

[2021-04-30 14:33] cuva commented on #962
@ColinCammaranoAccolade version 0.31 should resolve these issues. Closing.

[2021-04-30 14:34] #962 closed

[2021-05-12 09:57] cuva commented on #961
Hey @megha1208 this should be fixed on `master`, although we recommend using the released pod.

Closing.

[2021-05-12 09:57] #961 closed

[2021-05-15 05:54] 2965574080 opened #964 "Compile Error: Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behavior"
Hi experts,

I downloaded the newest version of Xcode and follow all the instructions and open WildeGuess, try to run on simulator.

However, hundreds of "Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behavior" jump in all locations under componentkit.

[2021-06-22 08:36] diwu commented on #964
Temporary workaround: Add **-Wno-implicit-retain-self** to ComponentKit and ComponentTextKit build settings
<img width="869" alt="Screen Shot 2021-06-22 at 17 29 38" src="https://user-images.githubusercontent.com/270920/122892238-30076e00-d380-11eb-86ff-f2364b95ff56.png">
<img width="867" alt="Screen Shot 2021-06-22 at 17 30 21" src="https://user-images.githubusercontent.com/270920/122892253-3269c

[2021-09-11 00:28] #909 closed

[2021-09-13 12:32] ASLYBZ opened #966 "How do I pass multiple arguments"
Like this:
options.attributes.insert({ CKComponentViewAttribute::LayerAttribute(@selector(insertSublayer:atIndex:)), ?? });

[2021-09-27 08:06] #966 closed

[2021-12-03 04:32] x65han opened #968 "Unsupported Swift Version: “FBSnapshotTestCase iOS” contains source code developed with Swift 3.x."
I'm on Xcode 13 and created a UIKit + Swift empty project. Then I added a Cartfile with:

[code]

![image](https://user-images.githubusercontent.com/14303274/144545316-df6d3bb7-de04-4e93-9dc3-ab96973aa1ca.png)

Then I ran:
[code]

I got the following error:
[code]

Now I open `Carthage/Checkouts/ComponentKit/Carthage/Checkouts/ios-snapshot-test-case/FBSnapshotTestCase.xcworkspace`. I get the follo

[2022-02-23 03:46] ASLYBZ opened #969 "[Question]How to unmount components from HostingView?"
I'm using hostingView on collectionViewCell,  I want to know the state of the component when the cell didEndDisplayingCell,, so I need to uninstall the component

[2022-02-28 10:45] LinkRober opened #970 "How to make children component height equal to Scroll component's content view height but Scroll component's height"
I create a scroll component
[code]
I hope that  first child contain component'height equal to scoll component content view'height rather than scroll component view‘height. example photo below
![IMG_0243A8092629-1](https://user-images.githubusercontent.com/7357189/155969643-3da5619b-c12e-4053-a225-bff5465ed130.jpeg)

[2022-03-21 12:19] xavierjurado commented on #970
Hey @LinkRober, `CKFlexboxComponent` is not designed to be used like a `UIScrollView`, it's instead similar to UIKit's `UIStackView`.

My suggestion is to wrap your items inside a `UICollectionView` instead . While it requires a bit more code, you'll gain the benefits of component reuse and all the goods from `CKDataSource`. Take a look at our [documentation](https://componentkit.org/docs/datasour

[2022-03-21 12:19] #970 closed

[2022-11-18 02:01] summerHearts opened #974 "Yoga-internal.h:135:11: error: definition of implicit copy constructor for 'Values<9>' is deprecated"
- [x] I have searched [existing issues](https://github.com/facebook/yoga/issues) and this is not a duplicate

# Issues and Steps to Reproduce
Xcode14.1
<img width="1366" alt="image" src="https://user-images.githubusercontent.com/10678821/202424600-b1be4ebd-f827-4f6b-8fda-13060f6e0823.png">

In file included from Carthage/Checkouts/yoga/yoga/Utils.h:9:
In file included from Carthage/Checkouts/yoga/